[2017-10-08 01:40] RazerM opened #6 "PyPI link is broken"
The home page link on PyPI points to https://github.com/SergeyPirogov/python-testcontainers

[2017-10-08 01:49] RazerM opened #7 "Use extras for optional dependencies"
Currently, selenium, pymysql, and psycopg2 are all installed regardless of what I need.

Extras should be used like [sqlalchemy does](https://github.com/zzzeek/sqlalchemy/blob/2c280791886756422a8103769cf131b0fe292ffe/setup.py#L156-L165).

That way, I can have `testcontainers[postgresql,mysql]` as a dependency if that's all I need.

I can submit a PR if you like.

[2017-10-08 01:57] RazerM commented on #7
Actually, is there a reason that `DbContainer._connect` is called at all? Is it just to check the database is reachable?

It might make more sense to remove sqlalchemy, psycopg2, and pymysql dependencies (well, change to test dependencies) from testcontainers.

[2017-10-08 08:20] SergeyPirogov commented on #7
@RazerM feel free to send a PR to fix this

[2017-10-08 08:22] SergeyPirogov commented on #6
@RazerM Yes, where is a mistake?

[2017-10-08 11:44] RazerM commented on #6
Sorry I pasted the wrong link, I updated my comment

[2017-10-08 12:16] SergeyPirogov commented on #6
it's because of wrong link in setup.py https://github.com/SergeyPirogov/testcontainers-python/blob/d44d1bc2bf054aff7114fe6d89db11e453149485/setup.py#L26

[2017-12-11 09:22] pnowy opened #10 "ImportError: cannot import name 'APIClient' / running problem on python 3.6"
Hi,

I was trying to use the test containers with django in order to set-up postgres db for tests. Unfortunately when I try to setup db according the documentation:

[code]

I receive the following error:

[code]
I'm using Python 3.6.3 and testcontainers 2.1.0. Do you know what could make a problem?

Thx

[2017-12-11 19:31] SergeyPirogov commented on #10
Hm, I really don't know. Could you try it with python 3.5? If it's the same i will try to dive into this problem

[2017-12-13 11:28] pnowy commented on #10
Hi, on python 3.5 look good (I've checked on python docker container so I had the problem with connection do unix socket but it seems good because there was a try to pull postgresql image).

The problem is that my application requires python 3.6 an higher (django).

[2017-12-14 08:56] SergeyPirogov commented on #10
Hm. need to look at it

[2018-01-09 09:05] #7 closed

[2018-01-09 09:20] SergeyPirogov commented on #10
Hi @pnowy, please try the new version 2.1.2 available via pypi. All the tests it Travis using python 3.6 are green

[2018-01-09 10:12] pnowy commented on #10
Thanks! It looks good now. Closing the ticket.

[2018-01-09 10:12] #10 closed

[2018-01-17 22:10] RazerM opened #13 "ImportError without optional dependencies"
After #8, `from testcontainers import PostgresContainer` fails because `__init__.py` imports the selenium submodule.

If you want to keep the top level imports the submodules will need to catch `ImportError` and set the imported names as `None`. Then in the classes that use them check if the imported names are None and raise an exception about the optional dependencies.

[2018-01-18 11:39] SergeyPirogov commented on #13
@RazerM could you provide PR to fix this?

[2018-02-20 21:46] DStape commented on #13
I'm also seeing a similar issue when attempting to use the MySqlContainer, but instead of ```ImportError``` I'm seeing a ```ModuleNotFoundError``` for selenium.

[2018-02-20 21:49] DStape commented on #13
I think #17 will fix the ```ModuleNotFoundError``` as the imports in ```testcontainers/__init__.py``` have been removed which is what seemed to be causing the problem.

[2018-02-21 09:56] SergeyPirogov commented on #13
Thank's for your contribution

[2018-02-21 19:02] DStape commented on #13
No probs, would it be possible to make a new release with all the latest changes? That way I won't need to install all the extra dependencies I have no interest in (selenium, etc). Thanks.

[2018-02-21 19:04] SergeyPirogov commented on #13
Will do it this weekend.

[2018-02-21 19:26] DStape commented on #13
Sounds good, thanks!

[2018-02-25 17:06] SergeyPirogov commented on #13
v2.2 has been released to PYPI.

[2018-02-25 17:07] #6 closed

[2018-02-26 16:29] DStape commented on #13
Thanks @SergeyPirogov.

[2018-02-28 11:54] #13 closed

[2018-05-21 14:29] bearrito opened #20 "[Documentation] Python version compatability should be indicated."
I believe this library only works with Python 3+, this isn't indicated in the docs though.

[2018-07-01 17:13] fkromer opened #22 "[Documentation] Plugin system"
The docs do not state if its possible to extend the package with functionality from separate packages (e.g. like hypothesis does). Is this possible?

[2018-07-02 07:10] SergeyPirogov commented on #22
@fkromer No

[2018-07-02 07:10] #22 closed

[2018-11-26 17:17] ori-n opened #25 "Error running test inside a container"
Hi,

I'm running my tests as part of the development pipeline inside a container. When I tried test containers I got the following error:
`requests.exceptions.ConnectionError: ('Connection aborted.', FileNotFoundError(2, 'No such file or directory'))`

Can someone please help?

Thanks

[2019-01-10 15:26] thomasklein opened #26 "HTTP Exception when stopping DockerContainer"
Hi! Not sure if this is actually a question for this project or for docker. However, I give it a shot here and any help is much appreciated :)

Given
[code]

I end up with an http exception of the docker container not existing when stoping it.

[code]

[2019-01-10 15:41] MaxSlapaev commented on #26
Probable container is not started yet. Please try to sleep for some time between start and stop

[2019-01-11 15:57] thomasklein commented on #26
Mistake on my side, misunderstanding the with statement which does implicitely the starting and stopping of the kafka container.
So
[code]
works

as well as
[code]

[2019-01-11 15:57] #26 closed

[2019-01-16 19:28] advance512 opened #27 "Release new version with Redis"
I see there are commits for adding support for Redis (and ElasticSearch as well).
https://github.com/testcontainers/testcontainers-python/commit/f6bec8084c8cb0758de0ec4389cca00b30a71b51

When are you going to release a new version to PyPi?

[2019-04-02 09:49] terapyon opened #28 "Error getting get_connection_url with DockerContainer"
I run pytest, but I got the errer.
Please help me.

[code]

[code]

[2019-05-10 14:41] VitaliyKolesnik commented on #28
Had the same problem. Just try to:
postgres_container.start()

[2019-05-12 13:02] aleksandr-kotlyar commented on #25
Hi, have the same issue.

- **Scenario:**
1. build image from Dockefile below with the following requirements
2. run the container
3. copy tests to container
4. execute pytest command for tests in container
- **Result:** tests fail with errors, with such a log, as below.
- **Expected result:** tests are running normally.

- **Requirements:**
[code]

 - **Dockerfile:**
[code]

- **Detailed log:**

[2019-05-12 16:37] aleksandr-kotlyar commented on #25
Hi, i have found guide how to use testcontainers in gitlab-ci.
https://www.testcontainers.org/supported_docker_environment/continuous_integration/gitlab_ci/

and found a problem when i call `chrome.get_driver()` from the code above
[code]
and this continues to spam.

May be this is new trouble for the new issue, but still blocks the same purpose: running test inside a container.

Need a help with

[2019-05-22 13:46] cal97g opened #29 "Cannot specify custom docker-compose file"
If you pass something like `os.path.dirname("{}/docker-compose-test.yml".format(os.getcwd()))` to `testcontainers.compose.DockerCompose` it will try to use `docker-compose.yml` instead of `docker-compose-test.yml`.

I would expect that having being passed a full path to a **file** it would use that specified file.

[2019-05-23 06:12] SergeyPirogov commented on #29
@cal97g thank you. Need to fix this

[2019-07-25 17:03] tillahoffmann commented on #27
Still need to cut a new release.

[2019-07-26 10:35] tillahoffmann commented on #27
Fixed with https://github.com/testcontainers/testcontainers-python/releases/tag/v2.5.

[2019-07-26 10:35] #27 closed

[2019-08-23 16:12] sambenas opened #33 "Feature Request: Localstack container"
Localstack is a mock of AWS services.  There is a Localstack available in the testcontainers-java library: https://github.com/testcontainers/testcontainers-java/blob/master/modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java

It would be very useful if this were directly available in the python module.  My teams current workaround is to use the Docker

[2019-09-04 10:51] trthhrtz opened #36 "Testing-containers and clickhouse-driver error:Unexpected EOF while reading bytes"
I have these libraries installed:

    testcontainers==2.5
    clickhouse-driver==0.1.0

This code:

    from testcontainers.core.generic import GenericContainer
    from clickhouse_driver import Client

    def test_docker_run_clickhouse():
        ch_container = GenericContainer("yandex/clickhouse-server")
        ch_container.with_bind_ports(9000, 9000)
        with ch_container as ch:

[2019-09-04 12:50] trthhrtz commented on #36
found solution

[2019-09-04 12:50] #36 closed

[2019-09-13 12:52] rnorth opened #37 "Port mapping problems when using wormhole pattern"
I've encountered a couple of problems when running in a Docker-in-Docker environment when the using the 'wormhole' pattern. In this context, our test is executed inside a container, and all containers are created as siblings (alongside it).

The biggest problem is that the port mapping seems to be incorrect - `get_exposed_port` returns the original port when running inside a container:
https://git

[2019-09-13 12:57] rnorth opened #38 "get_container_host_ip returning 0.0.0.0 instead of localhost"
When run locally, we're having trouble using `get_container_host_ip`, as it is returning `0.0.0.0`.

https://github.com/testcontainers/testcontainers-python/blob/dc956ccd2f7ee80964201eba2f713d6b3379b74c/testcontainers/core/container.py#L87

As the container IP is intended to be used by clients, surely it should be returning either `localhost` or `127.0.0.1`? I'm not sure about other Python clients

[2019-09-24 16:10] #29 closed

[2019-09-30 10:23] cal97g commented on #38
@rnorth `0.0.0.0` means it's listening on any possible interface on the local machine iirc - see this: https://serverfault.com/a/78058

If asyncio doesn't like 0.0.0.0, you can use `127.0.0.1` and you'll get the desired effect.

[2019-09-30 16:39] rnorth commented on #38
@cal97g that's what I thought; I'm quite used to seeing `0.0.0.0` as a server address but never from the client side.

I think on the basis that `127.0.0.1` is _at least_ as valid an address from a client's perspective, I'd like it if we could contribute a change.

[2019-10-02 00:46] pearsonhenri commented on #29
Any word on when this will be published? Would love to pick this up :)

[2019-10-08 11:54] cal97g commented on #38
@rnorth I'd suggest just opening a pull request for this and your other issue with a fix. The maintainer doesn't seem to have much free time but tends to be more reactive to PR's in my experience.

[2019-10-21 13:41] DarrienG opened #42 "More options for consuming DSN?"
For god only knows what reason, some older mysql libraries (e.g. MySQLdb: http://mysql-python.sourceforge.net/MySQLdb.html) don't accept a full DSN and only a parameterized DSN.

e.g.
[code]
Is illegal.

What it really wants is:
[code]

But the only parameters available right now are:
[code]

I think to flesh out what's missing, what should also be added is:
[code]

There may be more, but I think

[2019-11-28 13:25] victornoel opened #43 "testcontainers wait indefinitely without effects when running in Gitlab-CI"
I'm running a test based on testcontainers-python in a container running in Gitlab CI.

Basically the CI spawns a docker-in-docker container next to the container running the tests. I then set the environment variable DOCKER_HOST so that it can be used by testcontainers.

But in practice the test just get stuck, so I ran it with `pytest -s` to see the logs of testcontainers and got:
[code]

And th

[2019-11-28 13:29] victornoel commented on #43
See also #25 for a different but maybe related problem and https://www.testcontainers.org/supported_docker_environment/continuous_integration/gitlab_ci/ for the how to use testcontainers-java in gitlab-ci

[2019-12-07 18:23] arne-cl opened #44 "Docker compose example throws WebDriverException: Message: Error forwarding the new session Empty pool of VM for setup Capabilities {browserName: chrome, version: }"
I tried to follow the [Docker compose example](https://testcontainers-python.readthedocs.io/en/latest/compose.html) in the documentation, but only get this error:

[code]

These are the files that I use:

**docker-compose.yml**
[code]

**test_selenium_grid.py**
[code]

and these are my software versions:

[code]

[2019-12-09 02:43] curiousjazz77 opened #45 "Cannot import name 'MySqlContainer' from 'testcontainers'"
I recently installed this library and also installed a few downstream dependencies that other users mentioned in old issues. I am running python 3.7.

I have the following file:

[code]

When I attempt to run `pytest test_mysql.py`, I get:
[code]

Same with `python3 test_mysql`, I get:

[code]

[2019-12-15 12:59] tillahoffmann commented on #45
Hi @curiousjazz77, can you provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)?

[2019-12-29 06:08] curiousjazz77 commented on #45
^ updated!

[2019-12-29 14:05] tillahoffmann commented on #45
Thanks for the example! By default, the `testcontainers` package does not import all submodules because they may require additional dependencies. For example, the `testcontainers.mysql` submodule depends on `sqlalchemy` which is not installed by default.

You should be able to fix your code by running `from testcontainers.mysql import MySqlContainer` instead. Make sure to install the package using

[2019-12-29 14:05] #45 closed

[2020-01-03 11:04] ismailsimsek opened #48 "cant install with python 3.7 getting UnicodeDecodeError"
blindspin installation is failing

[code]

[2020-01-03 11:06] dabrign opened #50 "Import Error in examples"
I found an import error in mysql_example.py.
`from testcontainers import MySqlContainer`
should be changed to
`from testcontainers.mysql import MySqlContainer`
Moreover, mysql:5.7.17 is deprecated from dockerhub, so I changed to mysql:5.7.28.

Changes can be found in #49

[2020-01-03 11:09] ismailsimsek commented on #48
seems like there is open pull request  https://github.com/not-kennethreitz/blindspin/pull/7

[2020-01-07 21:58] dabrign commented on #50
Pull request #49 has been approved, so I close that issue.

[2020-01-07 21:58] #50 closed

[2020-01-09 22:50] GregHilston commented on #43
I currently get a timeout

[code]

I'm using the `mysql` container and the exact log output is:

[code]

I can see the container running when I check with `$ docker ps`. Also, I can make a new issue if that's helpful

[2020-01-09 22:53] GregHilston commented on #43
Turns out I can't read and apologize for posting in the first place.

`$ pip3 install pymysql` fixed everything ha

[2020-01-10 10:45] dabrign opened #52 "Adding Rabbitmq - how to test it"
Hi, I just add a draft pull request #51 and I need your opinion on how to make test efficient.

[2020-01-10 17:38] tillahoffmann commented on #52
Closing this in favour of discussion in #51.

[2020-01-10 17:38] #52 closed

[2020-01-10 21:50] kennedy commented on #42
you can prob experiment by seeing if `database.get_container_host_ip()` would provide the host, and `database.get_exposed_port()` for the port

[2020-01-10 21:58] kennedy opened #53 "reuse/singleton containers"
Hello,
I was looking at testcontainers-java and they implemented a way to "reuse" containers.

Is there away to do that in testcontainer-python?

[2020-01-15 21:51] tillahoffmann commented on #53
Reusing containers largely depends on how you manage the lifecycle of the container. If you are using pytest, the following is a working example. The `container` function defines a fixture (see [here](https://docs.pytest.org/en/latest/fixture.html) for details) with a specific scope which defines how the lifecycle of the fixture is managed. Find out more [here](https://docs.pytest.org/en/latest/fi

[2020-01-15 21:57] tillahoffmann commented on #48
@ismailsimsek, thanks for flagging this issue. However, I can't seem to reproduce it on my side.

[code]

Feel free to reopen if this issue persists.

[2020-01-15 21:57] #48 closed

[2020-01-16 09:35] ict4eo opened #54 "Adding PostgreSQL extensions?"
Is it possible for the test-container to be configured to allow for extensions?  For example, PostGIS (https://postgis.net/install/) is a widely used one.

[2020-01-16 10:56] tillahoffmann commented on #54
A few options:

* You can build your own docker image based on the official postgres images (search for "Additional Extensions" [here](https://hub.docker.com/_/postgres)).
* You can use pre-built images that include the extension (google "docker postgres postgis" or see [here](https://hub.docker.com/r/mdillon/postgis) for an example).
* You can install the extensions when you spin up the container

[2020-01-21 17:29] #54 closed

[2020-01-21 17:29] #53 closed

[2020-01-29 12:54] alex27594 commented on #36
And what is the solution?

[2020-01-29 13:11] trthhrtz commented on #36
@alex27594 https://stackoverflow.com/questions/57786801/testing-containers-and-clickhouse-driver-errorunexpected-eof-while-reading-byte

[2020-01-29 13:12] alex27594 commented on #36
thank you

[2020-02-10 14:59] ismailsimsek commented on #43
having same issue with gitlab cicd

[code]

[2020-02-11 03:35] dsabsay opened #60 "v2.5 installed from PyPI does not have mongodb module"
I've installed v2.5 via `pip`. Attempting to use the `mongodb` module like so:
[code]
gives me:
[code]
Looking in my virtual environment:
[code]
it is indeed not there :-)

[2020-02-11 03:42] dsabsay commented on #60
Oops, hehe. Forgot about the options to install with `pip install testcontainers[mongodb]`.

That seems to work although, `core/generic.py` imports sqlalchemy which shouldn't be needed to use mongodb. Think the `DbContainer` class in core/generic.py really doesn't belong there, as it brings in extra (optional) dependencies.

[2020-02-19 09:18] #38 closed

[2020-02-21 09:57] ismailsimsek commented on #43
im using _docker:dind_ with gitlab cicd pipeline.
adding wait for mysql to boot and changing mysql host-name to '_docker_'  solved my problem

[code]

[2020-02-25 13:36] vinjana commented on #60
I still have to use

[code]

to get a working testcontainers[mongodb] in Gitlab-CI.

[2020-02-25 16:52] vinjana opened #68 "ServerSelectionTimeoutError when running in gitlab-ci on gitlab.com"
I am running testcontainers-python 2.6 with mongo:4.2.3. My tests work fine on my local system, but when I have them run on gitlab.com all testcontainer-using tests fail with errors of the following type:

[code]

My `gitlab-ci.yml` is as follows:

[code]

My connection-setup is as follows

[code]

Containers are being started and `container.get_connection_url()` produces URLs with variable IP num

[2020-02-27 10:30] SergeyPirogov opened #71 "Move from Travis to Github Actions"
Time to move to native Github actions

[2020-03-02 17:57] romank0 opened #72 "Allow to pull images before running compose"
Currently `DockerCompose.start` only executes `docker-compose up` which uses locally pulled images. In some cases it is beneficial to get the latest version of the image that is to do:

[code]

The API for it may look like:

[code]

[2020-03-03 10:19] #72 closed

[2020-03-03 17:08] SwagMuffinMcYoloPants opened #74 "Exposing bridged ip address to facilitate container to container communcation?"
I saw that there is a method called `get_container_host_ip` that returns the container's ip depending on if it's in a container or not.  I didn't see a way to actually get the bridge ip address of a specific container.  The use case that I have is that I have a python integration test that runs localstack container that needs to communicate with multiple containers, one being a database.  My local

[2020-03-21 06:08] jtanios opened #76 "Option to build the docker containers before starting"
When using this package to test a custom container, it'd be good to build the containers before starting the service every time the test runs to make sure any new changes to the Dockerfiles are tested.

I think this can be a param to the `DockerCompose` constructor:
`def __init__(self, filepath, compose_file_name="docker-compose.yml", build=False):`

If `True`, it would add a `--build` option to t

[2020-03-21 18:21] jtanios opened #77 "Dev environment setup"
Some documentation on setting up the dev environment would be great.

Also, why not use a dependency management package like `pipenv` or `poetry`?

[2020-03-22 13:52] tillahoffmann commented on #77
Yes, good point, we should add some information on how to set up a dev environment.

Re dependency management, we use [`pip-tools`](https://github.com/jazzband/pip-tools) because `pipenv` is not yet as stable as we'd like.

[2020-03-22 14:07] tillahoffmann commented on #76
That sounds like a good idea. Fancy sending a PR?

[2020-03-23 05:35] jtanios commented on #76
Sure, I'll submit one pretty soon.

[2020-04-15 05:55] tuvshuud opened #81 "PostgresContainer start stuck at waiting to be ready in Gitlab CI using docker:dind"
I am trying to setup test environment in Gitlab CI/CD. But starting PostgresContainer stuck forever.

Version:
- Python3.8
- SQLAlchemy==1.3.12
- testcontainers==2.6.0

Samples from my .gitlab-ci.yml
[code]

Logs from gitlab-runner
[code]

Informations from docker:dind
[code]

It seems to me that after starting the container, testcontainer tries to connect with container_ip:5432 rather than random

[2020-04-15 15:14] tillahoffmann commented on #81
Thanks for the report. I'll close this for now as a duplicate of #43, but let me know if this is a distinct issue.

[2020-04-15 15:14] #81 closed

[2020-04-16 02:52] tuvshuud commented on #81
It was a duplicate. Sorry about that. I had to implement my own [get_container_host_ip](https://github.com/testcontainers/testcontainers-python/blob/1e4fa304d9af086165eab458f498dcca9f99a3aa/testcontainers/core/container.py#L79)() and [get_exposed_port](https://github.com/testcontainers/testcontainers-python/blob/1e4fa304d9af086165eab458f498dcca9f99a3aa/testcontainers/core/container.py#L86)() to so

[2020-04-16 08:46] tillahoffmann commented on #81
Would you be happy to share your implementation? Unfortunately, we can't test PRs from forks on GitLab CI because of [this issue](https://gitlab.com/gitlab-org/gitlab/issues/5667), but I can try and integrate your changes within the main repository.

[2020-04-18 15:18] timbmg opened #83 "Dockerfile support"
Similar to allowing to run docker-compose files, would be great to just run a Dockerfile.

[2020-04-28 09:03] tillahoffmann commented on #74
@SwagMuffinMcYoloPants, do the changes @tuvshuud introduced in #85 address your needs?

[2020-04-28 09:04] tillahoffmann commented on #68
The changes in #85 should address this issue. Feel free to reopen if not.

[2020-04-28 09:04] #68 closed

[2020-04-28 09:07] tillahoffmann commented on #60
The extra is called `mongo` rather than `mongodb`. Version 2.6.0 should have that included.

[2020-04-28 09:07] #60 closed

[2020-04-28 09:08] tillahoffmann commented on #43
Fixed in #85. Feel free to reopen if problems persist.

[2020-04-28 09:08] #43 closed

[2020-04-28 09:10] tillahoffmann commented on #25
You should be able to use docker-in-docker given the changes in #66 and #85. Feel free to reopen if problems persist after the next release.

[2020-04-28 09:10] #25 closed

[2020-04-28 10:12] tuvshuud commented on #37
@rnorth Does #85 address this issue?

[2020-04-28 13:28] vinjana commented on #68
Great! Thanks!

[2020-04-28 16:06] victornoel commented on #43
Excellent, I can confirm this works :)

[2020-04-28 17:32] joeystevens00 opened #86 "Support for HTTP wait strategy"
Are there any plans to support the HTTP wait strategy? https://www.testcontainers.org/features/startup_and_waits/#other-wait-strategies

[2020-04-29 14:17] tillahoffmann commented on #83
@timbmg, thank you for the suggestion. My hunch is that the scope of the library would start ballooning a bit if we start introducing build steps. Having said that, you raise a good point that it's available for `docker-compose` as of #78.

Is there any reason why running `docker build` prior to spinning up your tests isn't sufficient/desirable?

[2020-04-29 14:19] tillahoffmann commented on #86
It should be relatively straightforward to support http wait strategies using a generalisation of [`wait_for_logs`](https://github.com/testcontainers/testcontainers-python/blob/da4dcc48f78b7e373cc7960b2e6e2451b5944e40/testcontainers/core/waiting_utils.py#L61). PRs welcome!

[2020-04-29 14:21] tillahoffmann commented on #20
Resolved in #66.

[2020-04-29 14:21] #20 closed

[2020-04-29 14:55] cal97g commented on #83
I can't really imagine a workflow where this could be useful.

Surely the other dependencies will be built beforehand, and if they're not then docker-compose will build them.

[2020-04-29 22:01] tillahoffmann commented on #28
Is this still an issue you observe?

[2020-04-30 16:51] tillahoffmann commented on #42
The option @kennedy suggests is indeed what is used by `get_connection_url` internally. See below. https://github.com/testcontainers/testcontainers-python/blob/c081c1899dea85a221c27bc849d2ad7abfb4079e/testcontainers/core/generic.py#L35-L44

[2020-04-30 16:51] #42 closed

[2020-05-01 14:52] SwagMuffinMcYoloPants commented on #74
Sorry for the delayed response.  Looking at it over quickly, it looks like it would.  I double check over the weekend.

[2020-05-04 15:04] tillahoffmann commented on #28
Having had another look at your example, the problem arises because the container hasn't been started. Consider using the following instead.

[code]

Improving the error message would certainly be desirable though.

[2020-05-05 10:22] #77 closed

[2020-05-06 12:46] KarinElimelech opened #90 "docker.errors.APIError: 500 Server Error: bind: address already in use"
Hi! I'm using testcontainers (version 2.5) and when I load several containers from different modules the next exception appeared occasionally:

each time, several tests are trying to connect the same 4 ports (different ports from run to run).
I checked and the containers are closing correctly at the end of the test.

[2020-05-06 13:58] KarinElimelech commented on #90
Hi @tillahoffmann thanks for the quick response
here is the fixture:
pytest.fixture(scope="module", autouse=True)
def postgres_container():
with _postgres_container_setup():
yield

@pytest.fixture()
def postgres(request):
if 'postgres_container' not in request.funcargnames:
log.warning('')
with _postgres_container_setup() as container:
yield container
else:
postgres_testing_utils.drop_create_all_i

[2020-05-06 16:43] tillahoffmann commented on #90
Hi @KarinElimelech, could you post the code again and surround it with ` ``` ` before and after? That should preserve the indentation so I can run it.

[2020-05-07 09:50] KarinElimelech commented on #90
@tillahoffmann edited

[2020-05-07 14:23] tillahoffmann commented on #90
I couldn't reproduce the issue because some of the methods were undefined, such as `postgres_testing_utils.drop_create_all_if_possible`. Having said that, the use of testcontainers in the code snippet is unconventional. See [here](https://testcontainers-python.readthedocs.io/en/latest/database.html) for some examples.

More specifically, the following should be able to address your use case. I wou

[2020-05-07 14:23] #90 closed

[2020-05-08 04:00] SwagMuffinMcYoloPants commented on #74
Hi.  I'm so sorry for the delayed response.  It looks like this addresses my use case.  I appreciate the speedy response!

[2020-05-08 04:00] #74 closed

[2020-05-21 22:05] karmux commented on #43
Version 3.0 gets stuck for me at the same place but 2.6 works fine when using docker-in-docker with mounted socket.

[2020-05-23 04:09] tuvshuud commented on #43
@karmux I will double check. Meanwhile, can you provide your .gitlab-ci.yml here?

[2020-05-25 13:29] romank0 opened #92 "Allow to fetch logs from containers run by compose"
I would like to fetch logs returned by `docker-compose logs` for containers run by `DockerCompose`.

[2020-05-26 16:23] dlmiddlecote opened #94 "Installation with poetry on python > 3.5"
Hi,

It is currently impossible to install this library using poetry that has python version requirements of > 3.5.

This is due to the `python_requires` in your `setup.py` of `'~=3.5',`: https://github.com/testcontainers/testcontainers-python/blob/master/setup.py#L64

Poetry fails with an error message like so:
[code]

Given that this library is tested with versions 3.5 -> 3.8 in travis, i think

[2020-05-26 17:28] #94 closed

[2020-05-28 17:59] karmux commented on #43
@tuvshuud it's not Gitlab-CI but Docker images based on official Python images where this freezing happens (using `-v /var/run/docker.sock:/var/run/docker.sock` argument to `docker run`). Didn't create a new bug as it seemed related.

[2020-05-28 19:43] smparekh commented on #86
I took a stab at adding the port and http status code wait strategies: https://github.com/smparekh/testcontainers-python/compare/30dce29920766e3d34926d4ec174ab11f6158f81...smparekh:master

Comments and suggestions welcome.

[2020-05-29 10:20] tillahoffmann commented on #43
@karmux, could you post a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) please so we can have a look?

[2020-05-29 15:51] karmux commented on #43
@tillahoffmann

Dockerfile:
[code]

Python test:
[code]
Docker build:
[code]

Docker run:
[code]

@tuvshuud , sorry PR #96 didn't fix it.

If I install `testcontainers[postgresql]==2.6` then it works.

[2020-06-02 08:07] tuvshuud commented on #43
As @tillahoffmann mentioned [here](https://github.com/testcontainers/testcontainers-python/issues/45#issuecomment-569508631), you have to install required additional dependencies explicitly.

So your `Dockerfile` should have `SQLAlchemy`, `psycopg2` packages installed.
[code]

I've checked and #96 fixed it. @karmux

@tillahoffmann Do you think we need more verbosity in [_connect()](https://github.

[2020-06-03 14:26] tillahoffmann commented on #43
There may be an opportunity to update the exceptions we catch in `wait_container_is_ready` to only include `TimeoutError`s, for example. In other words, any exception that is not a `TimeoutError`, such as an `ImportError`, would just be raised as normal. Although we'd have to make sure we don't break anything by accident.

https://github.com/testcontainers/testcontainers-python/blob/87fb2c14207898

[2020-06-04 04:10] tuvshuud commented on #43
Looking at the reference of `wait_container_is_ready`, it is decorated in various areas `requests`, `webdriver` and `sqlalchemy`. So we need to handle family of `TimeoutError` such as `requests.ConnectTimeout`, `sqlalchemy.exc.TimeoutError`. Again, there might some edge cases that we may break.

Maybe we should log the exception [here](https://github.com/testcontainers/testcontainers-python/blob/8

[2020-06-04 21:14] karmux commented on #43
Still waiting till it gets timeout with 3.0.2.

[code]

[code]

[2020-06-05 14:11] tuvshuud commented on #43
@karmux #96 merged into master but hasn’t released into patch version yet. Meanwhile you may try with `pip install git+https://github.com/testcontainers/testcontainers-python.git`

[2020-06-05 20:49] karmux commented on #43
Works now! Thank you @tuvshuud and @tillahoffmann!

[2020-06-07 02:02] arpost opened #99 "MongoDbContainer on Windows 10 fails with getaddrinfo error"
The following code fails with testcontainers-python 3.0.2:
[code]
with
[code]

Interestingly, the `MongoDbContainer.get_connection_url()` method returns a URL with hostname localnpipe, which I suspect the mongo client does not understand. Using pymongo directly, I can connect to the created container using a hostname of localhost.

[2020-06-08 04:27] tuvshuud commented on #99
@arpost Thanks for reporting. I suspect `localnpipe` is what docker client uses internally. Since, test cases of this project does not cover Windows OS, I will test it on Windows machine soon. Meanwhile, possible workaround is that you can use [TC_HOST](https://github.com/testcontainers/testcontainers-python/blob/0a4da83bbf28036d522d995653f9b05af65b0734/testcontainers/core/docker_client.py#L57) en

[2020-06-08 17:05] tillahoffmann commented on #43
`3.0.3` is now on pypi so you should be able to revert to `pip install testcontainers` without the need to install from `master`. Thanks for the fix, @tuvshuud.

[2020-06-08 17:06] tillahoffmann commented on #37
@rnorth, closing this issue for now. Feel free to reopen if it continues to be a problem.

[2020-06-08 17:06] #37 closed

[2020-06-08 18:06] ypatel26 commented on #43
Mine is still hanging.  I updated testcontainer to 3.0.3 from above link.  Not sure what am i doing wrong.

[2020-06-08 19:02] arpost commented on #99
I tested with PR #96 and it does not address my issue, unfortunately. I believe the problem is in core/docker_client.py, and I'll submit a pull request soon.

[2020-06-10 15:51] ypatel26 opened #101 "test is stuck at waiting and then times out : postgres container"
Can someone please help fix this issue?  Not sure what to do. Container starts up fine.  But my test is timing out.

[code]

[2020-06-19 09:48] tillahoffmann commented on #76
Closing for now as `wontfix` (see #83 for details), but thank you for the contribution!

[2020-06-19 09:48] #76 closed

[2020-06-24 23:38] ahcub commented on #25
having the same issue as described in the original request
errors like this one and the related ones
`urllib3.exceptions.ProtocolError: ('Connection aborted.', FileNotFoundError(2, 'No such file or directory'))`

not sure what is the issue as I added all the required things as per this doc: https://www.testcontainers.org/supported_docker_environment/continuous_integration/gitlab_ci/

[2020-07-01 08:19] fsonntag opened #104 "Supporting Ryuk container"
So I'm using testcontainers within Java, as well as Python. I noticed that sometimes containers stick around in Python, while in Java they always get cleaned up properly thanks to [Ryuk](https://github.com/testcontainers/moby-ryuk).

I was wondering, if that was a decision made on purpose to not use Ryuk in the Python project? Otherwise supporting it would be really great, in order to keep the doc

[2020-07-01 15:21] ImFlog commented on #33
Hello,
I've implemented something without docker compose.
I'm working on polishing the pull request.

[2020-07-02 14:05] mpatek opened #105 "OracleDbContainer() raises NotImplementedError"
Hello!

I think you need to add a `_configure(self)` to your `OracleDbContainer` class.

Also, the documentation for `OracleDbContainer` does not initialize the `oracle` variable contained in the `with` clause. It should read:

[code]

[2020-07-03 10:51] tillahoffmann commented on #104
As far as I'm aware, there is no reason why we can't use ryuk. Contributions welcome!

[2020-07-03 10:53] fsonntag commented on #104
Thanks for the feedback, I will look into it when I can find some time. But ofc also wanted to make sure beforehand if there was a specific reason :)

[2020-07-03 12:27] #28 closed

[2020-07-05 08:14] dbaskarraj opened #108 "could not translate host name "localnpipe" to address: Unknown host"
venv\lib\site-packages\wrapt\wrappers.py:605: in __call__
    return self._self_wrapper(self.__wrapped__, self._self_instance,
venv\lib\site-packages\testcontainers\core\waiting_utils.py:46: in wrapper
    raise TimeoutException(
E   testcontainers.core.exceptions.TimeoutException: Wait time exceeded 120 sec.
E                       Method _connect, args () , kwargs {}.
E                        Ex

[2020-07-06 13:31] tillahoffmann commented on #108
@arpost, do you know whether this issue is related to the fix you added in #100?

[2020-07-16 11:53] Can-Sahin opened #109 "Allow option to keep the containers alive"
It would be nice to keep the docker containers alive for speeding up the test runs. Now, in every test run containers are re-created and can't keep them alive since [this block](https://github.com/testcontainers/testcontainers-python/blob/71f2a879185f772ca3f36f61ec619d1f03cccb17/testcontainers/core/container.py#L69)

[code]

removes containers when the instance variable is deleted (when the progra

[2020-07-17 22:57] petedmarsh commented on #108
I am experiencing the same issue on Windows 10. If I subclass `PostgresContainer` like so then it works:

[code]

i.e. `postgresql+psycopg2://test:test@localhost:32779/test` does work as the URL.

Some quick Googling suggests there are issues with Windows 10 and Docker named pipes but I can't honestly say they are the ultimate cause of this issue.

Perhaps `DockerClient.host()` could be changed to

[2020-07-17 23:53] greg-el commented on #108
Also confirmed working on arch linux.

[2020-08-04 09:18] pofl commented on #25
I ran into this error, not in a CI pipeline but on my laptop. For me the problem was that Docker Desktop wasn't running. After (re)starting Docker Desktop, the error went away.

[2020-08-06 20:15] HarryDunham commented on #109
Containers can be manually kept alive by simply not using a context manager and calling

[2020-08-10 11:34] falcorocks opened #111 "Missing [elasticsearch] extra"
I see `testcontainers/elasticsearch.py` but

[code]

Can you help me understand if elasticsearch is supported or not?

[2020-08-17 13:51] tillahoffmann commented on #111
The `ElasticSearchContainer` does not require any additional dependencies at the moment and should work out of the box without installing any extras. Let me know if that's not the case.

[2020-08-17 13:51] #111 closed

[2020-08-18 07:59] tillahoffmann commented on #25
@ahcub, an example of a working `.gitlab-ci.yml` can be found [here](https://github.com/testcontainers/testcontainers-python/blob/77ce99a92d7902983609b3e964a60379b323f74c/.gitlab-ci.yml). Does that help?

[2020-08-31 20:31] #33 closed

[2020-09-08 19:13] spierepf opened #113 "Is it possible to configure `--shm-size=2g`?"
I would like to use testcontainers to start a solace pubsub container ala:

https://docs.solace.com/Solace-SW-Broker-Set-Up/Docker-Containers/Set-Up-Single-Linux-Container.htm

`sudo docker run -d -p 8080:8080 -p 55555:55555 --shm-size=2g --env username_admin_globalaccesslevel=admin --env username_admin_password=admin --name=solace solace/solace-pubsub-standard`

I've managed to expose the ports,

[2020-09-08 19:25] spierepf commented on #113
Sorry, I didn't understand the syntax:

.with_kargs(shm_size="2g")

My bad.

[2020-09-08 19:25] #113 closed

[2020-11-21 22:16] wuqunfei opened #121 "How to create a Kafka test Container"
Could we create a Kafka container like this
`with TestContainer(image="confluentinc/cp-kafka:5.4.3") as container:
    ip = container.get_container_host_ip()`

but I don't know how to implement a method like https://www.testcontainers.org/modules/kafka/
`kafka.getBootstrapServers()`

[2020-12-07 16:06] shikhar08 opened #122 "Unable to provide a custom URL for selenium standalone image"
Hi,

I was attempting to subclass [`testcontainers.selenium.BrowserWebDriverContainer`]( https://github.com/testcontainers/testcontainers-python/blob/70055bc73f2b02d3d9a36e89808cf5c8a729adbf/testcontainers/selenium.py#L33) and ran into an issue.

[code]

This `__init__`  does not account for when a user specifies the input `image` . As shown above, there needs to be an else statement for `image` s

[2020-12-07 16:10] tillahoffmann commented on #122
Hi @shikhar08, this sounds like a good idea. You could even simplify to
[code]

Looking forward to the PR.

[2020-12-07 16:53] shikhar08 commented on #122
@tillahoffmann Hey that sounds like a good idea. I have used it.

[2020-12-08 09:32] #122 closed

[2020-12-11 07:15] ShahBinoy opened #124 "Blindspin Dependency breaks installation in CI/CD"
Attempting to install the test container breaks due to blindspin.

All our build started failing now

[code]

[2020-12-11 11:46] tillahoffmann commented on #124
Should be fixed in 3.2.0 (out later today, see #125).

[2020-12-11 13:14] ShahBinoy commented on #124
Thank You !!

[2020-12-11 15:01] #124 closed

[2020-12-21 05:01] stonecharioteer commented on #109
You *could* subclass it and overwrite the `__del__`, since that gives you an option to inject the behaviour that you require. That's the approach we took when we needed an alternative behaviour for the Selenium container wrapper.

[2020-12-22 05:25] vikrambosevibrent opened #126 "TimeScaleDb container"
TimeScaleDb Container not available. is that any plan to add that? Thanks

[2020-12-22 10:17] tillahoffmann commented on #126
Not planned at the moment, but PRs are welcome.

[2020-12-22 11:12] vikrambosevibrent commented on #126
sure.. Will do that..

[2020-12-22 11:45] tillahoffmann commented on #109
@Can-Sahin, makes sense to want to keep the container alive to speed up tests. Having said that, I'm not sure how you'd be able to connect to the existing container after the reference to the instance variable has been discarded.

If you're using pytest, you can use global fixtures to reuse the same container across all test runs within the same process. Reusing an existing container across differ

[2021-01-05 22:45] ash1425 commented on #121
Kafka container from confluent needs some more configurations before it can be started. I am working on a PR for kafka container. Meanwhile you can look at sample implementation at https://github.com/SrinivasanTarget/python_flask_app/blob/main/test/kafka.py

[2021-01-08 19:26] mrts commented on #10
@pnowy, you say _I was trying to use the test containers with django in order to set-up postgres db for tests_, however, your code example uses SQLAlchemy: `sqlalchemy.create_engine(postgres.get_connection_url())`.

Did you get _testcontainters-python_ working with Django and can you describe how? Getting Django settings configured properly seems quite tricky to me.

[2021-01-27 15:33] arcann commented on #108
Another way to workaround the issue
[code]

[2021-02-17 11:01] manojhans commented on #121
@wuqunfei you can create kafka container using `DockerCompose` with specific port, here is the example: https://github.com/manojhans/python_testcontainers_kafka

[2021-02-27 08:38] ysde opened #129 "[RedisContainer] Add decode_response setting"
It'll be more easy to use if `decode_response` setting can be added in to redis container.

Can someone help confirm the pr?
https://github.com/testcontainers/testcontainers-python/pull/128

Thank you

[2021-03-05 19:36] SergeyPirogov opened #130 "Move to GH Actions"
Time to replace Travis

[2021-03-06 08:28] #129 closed

[2021-03-06 12:13] tillahoffmann commented on #130
Let's track in #71?

[2021-03-06 12:13] #130 closed

[2021-03-06 12:24] #71 closed

[2021-03-15 13:18] calswbin commented on #101
Like others from the interest on this post, I can confirm that I can replicate this issue using Docker Desktop on Windows OS, when using both Hyper-V and WSL2 backends.

For WSL2 I have enabled vsyscall seen in the guide within the testcontainers-java fork here. I can confirm this sadly does not fix the issue [https://www.testcontainers.org/supported_docker_environment/windows/](url)

**Spec**
Pyt

[2021-03-18 17:36] marcrleonard commented on #101
I am having the same issue on windows WSL2

Python 3.7.6
Docker engine version v20.10.2
testcontainers[mysql]

[2021-03-18 20:51] marcrleonard commented on #108
This workaround works on Windows.

[2021-03-18 20:52] marcrleonard commented on #101
This feels like a named pipe issue. I found this workaround to work for me:

https://github.com/testcontainers/testcontainers-python/issues/108#issuecomment-660371568

[2021-03-25 13:04] kvalv opened #134 "Support passing custom env-file?"
Hi,

I came across this library and it seems very useful for running integration tests. My current `docker-compose.yml` make use of the `.env` file to pass in various environment variables. However, for integration tests I want to use a different `.env` file. Using docker-compose from the shell I can just do `docker-compose --env-file .env_test up`.

Would it be possible to support a `env_file` ar

[2021-03-29 09:25] #121 closed

[2021-03-29 09:34] tillahoffmann commented on #134
Yes, that should be possible by modifying https://github.com/testcontainers/testcontainers-python/blob/bc969c53680606d7fff6a2e8350f5a6f234fcd38/testcontainers/compose.py#L82-L87

Contributions welcome!

[2021-03-29 11:15] tillahoffmann commented on #109
Closing this one for now but feel free to reopen if using fixtures with a different scope cannot address the problem.

[2021-04-11 18:03] Petrosyuk commented on #134
Hey - I can tackle this. I've been looking to contribute to open source. Will write an implementation and tests.
I think it is best to include the env tag here instead of start:

https://github.com/testcontainers/testcontainers-python/blob/bc969c53680606d7fff6a2e8350f5a6f234fcd38/testcontainers/compose.py#L76-L80

[2021-04-15 17:42] tillahoffmann commented on #134
Closed in #135.

[2021-04-15 17:42] #134 closed

[2021-04-17 21:50] parisni opened #137 "PostgresContainer timeout when sqlalchemy not installed"
Hello

For some reasons, PostgresContainer does not work when sqlalchemy is not installed.

Took me hours to figure out this.

Anyway, Thanks for this great package

[2021-04-21 09:38] illesguy opened #138 "Can't connect to PostgreSQL container from another container when running on Mac as host"
In our current setup we have some Python code running on a docker container which uses `testcontainers` to create a `PostgreSQL` database container we can test with. All necessary requirements to start a new container from a docker image are met, and the host machine's docker client is used to start the new container. When looking at the DB container, it starts up successfully, we can access it fr

[2021-04-22 13:10] tillahoffmann commented on #138
Thank you for the detailed investigation. Contributions are most welcome. Maybe we should add a macOS CI run?

[2021-04-29 18:04] inikolaev opened #140 "Allow to specify dialect/driver when calling get_connection_url"
With latest SQLAlchemy 1.4 rolling out support for asyncio it would be great to support that in some way.

In order to use asyncio one needs to use a corresponding driver which is specified in the connection string, e.g.:

[code]

But in `PostgresContainer` it's currently hardcoded to:

[code]

Don't know what the best solution could be:

* Pass it as a constructor argument - but in this case ther

[2021-04-29 20:04] andredasilvapinto opened #141 "Testcontainers fails to get container_host_ip when running in docker network"
I believe this is because this code assumes the presence of "bridge"

https://github.com/testcontainers/testcontainers-python/blob/master/testcontainers/core/docker_client.py#L52

https://github.com/testcontainers/testcontainers-python/blob/master/testcontainers/core/docker_client.py#L48

which is not the case when the container runs in a specific docker network (possible to do via DockerContainer

[2021-05-02 19:43] illesguy commented on #138
I had a look at trying to fix this behaviour, found a couple of things. Looks like default behaviour was already the suggested one which is to use the container IP to access other containers see here:
https://github.com/testcontainers/testcontainers-python/blob/master/testcontainers/core/container.py#L86-L96

The gateway IP is the fallback if the container's IP we were running from originally didn

[2021-05-05 06:17] vinchauhan commented on #108
Any update on this issue ?

[2021-05-07 20:45] dcc-sapienza commented on #141
Hi, I have the same issue when trying to run an integration test inside a docker container.
As described in the READM, when testcontainers-py is running inside a docker container a docker client is required and the sock must be mounted as volume (with -v /var/run/docker.sock:/var/run/docker.sock)
Anyway, when the tests are running  they fails because of:

[code]

PS: the testcontainers java implem

[2021-05-07 22:32] vryazanov commented on #137
Hello,
it uses sqlalchemy to check if db is up and ready
https://github.com/testcontainers/testcontainers-python/blob/master/testcontainers/core/generic.py#L24
the right way to install lib - `pip install testcontainers[postgresql]`

[2021-05-09 08:22] #137 closed

[2021-05-09 08:27] parisni opened #143 "Let selenium container have host network mode"
So far, the selenium driver cannot access localhost based website since it is running inside it's docker container network.

One have to provide the host IP in order to give it access to local website, local api, and so on.

It would ease setup to provide an option to make the `BrowserWebDriverContainer` have host network.

[2021-05-11 01:35] bitplane opened #144 "wait_for_logs fails for DockerCompose"
Example code:
[code]

Output:
[code]

[2021-06-05 09:06] aashish-agarwal-de commented on #43
I am running a MySQL test container inside a docker, and by default it tries to connect to the docker_host_ip, which is throwing the error.
If it connects to host.docker.internal then it works, but the package does not allow that

[2021-06-05 09:16] aashish-agarwal-de commented on #43
In my case I am running MySQL Test container within docker, and when I do MysqlContainer.start(), it tries by default to connect to docker_host ip, which is causing the issue.
Do I have to add some flag in docker run command?

[2021-06-05 09:39] tuvshuud commented on #43
@aashish-agarwal-de you can use TC_HOST environment variable to set correct host address if host detection in the library is not working correctly.

[2021-06-05 09:40] aashish-agarwal-de commented on #43
It is detecting the gateway host, byt sql alchemy is not able to connect to that ip.
It is only able to connec to host.docker.internal

[2021-06-05 10:32] aashish-agarwal-de commented on #43
Is there a way to pass the hostname to MySQL test container, so that it does try to connect to gatwway ip in docker?

[2021-06-05 15:45] aashish-agarwal-de commented on #43
In CI this was resolved my passing --network=host in docker run command, but I am still facing issues with running it in my local system. I am working on mac

[2021-06-09 20:29] sebastian-hatala-leanix commented on #138
Hi @illesguy, thanks for the thorough investigation. I also just stumpled upon this after updating to version 3.4.1 and running on MacOS (therefore having to use `dockerhost`).

I just suggested a change in https://github.com/testcontainers/testcontainers-python/pull/145

[2021-06-10 09:00] andredasilvapinto opened #146 "Do not always stop container on __del__"
A user of the library might, for examle, not keep the reference to `DockerContainer` but use get_wrapped_container to access the underlying `Container` object and keep that instead. Currently this will produce an unexpected container stop triggered by GC.

If you want to keep this behaviour it should at least be optional (configured by a constructor `stop_on_deletion` flag for example).

Relevant

[2021-06-10 09:11] mxab opened #147 "3.4.1 fix breaks AzureDevops container (linux) runs for postgres containers"
Hi,

our builds stopped working when we updated to 3.4.1 since the connection url uses `localhost` instead of the ip address I get a timeout when it trys to connect to the postgres
Before the connection was something like `postgresql+psycopg2://test:***@<ip-address>:49326/test`

[2021-06-10 10:35] mxab commented on #147
I guess this is related to #145

[2021-06-17 07:40] sebastian-hatala-leanix commented on #147
Ha you are right - in that way this is not "only" a MacOS thing but anywhere when not running Docker under `localhost` 👍

[2021-06-22 08:08] fjahoda commented on #147
I think this as well. https://github.com/testcontainers/testcontainers-python/commit/1a143b0bef3732c8d13f462672da4045356c0861#r52447265

Can the commit be reverted?

[2021-06-22 11:42] sebastian-hatala-leanix commented on #147
Jup...but the commit itself probably still is a senseful addition in order to have the parameter `get_connection_url`. But the combination of having a default param as `localhost` and not passing in an argument from `DbContainer._connect` makes it bad for us

[2021-07-05 13:30] hrmstockdale opened #150 "Allow other environment variables to be set on the LocalStack Container"
Presently the LocalStackContainer class exposes a `with_services` method to allow consumers to restrict which localstack services are run. This works by setting the `SERVICES` environment variable before running the localstack container.

The [localstack documentation](https://github.com/localstack/localstack#configurations) allows for a number of environmental variables to be set. It would be use

[2021-08-08 08:30] ujkim commented on #108
I also got an error running MysqlContainer on Windows because of the same error.
If you do not assign TC_HOST value to localhost, it seems to bring docker host information to localnpipe.
Why is the Docker client api adpaters information set to http+docker?
I think this happened for a different purpose, but I'm curious as to why.

[2021-08-15 17:51] tillahoffmann commented on #147
Apologies for the slow followup. This should now be fixed in 3.4.2 thanks to @sebastian-hatala-leanix's fix in #145.

[2021-08-15 17:51] #147 closed

[2021-08-15 17:52] tillahoffmann commented on #138
@illesguy, let us know whether #145 (about to be pushed as 3.4.2 to pypi) fixes this issue.

[2021-09-07 20:57] mkochco commented on #81
I'm on 3.4.2 and I'm still seeing the GitLab build hang (forever).  I've followed the instructions at https://www.testcontainers.org/supported_docker_environment/continuous_integration/gitlab_ci/

Is this actually fixed?

[code]

[2021-09-16 07:40] 99ACA opened #155 "Speed up the test using Tmpfs"
Is there option to speed up the test using [Tmpfs](https://docs.docker.com/storage/tmpfs/).

[2021-09-16 11:27] tillahoffmann commented on #155
In what sense would you like to speed things up with tmpfs?

[2021-10-05 07:46] ulsa opened #157 "Initial port check fails with "object is not subscriptable""
The test worked yesterday. However, when I run the test first thing in the morning, I get this:

[code]

However, if I run it again right away, it works. It looks like a timing issue related to Docker startup or something like that. Anything that can be done about this in `docker_client.py`? Like a None-check and a backoff/retry?

Here is the logging output:

[code]

Docker version 20.10.8.

[2021-11-29 20:32] timbmg opened #159 "Docker in Docker on Mac requires to use host.docker.internal"
I want to use a mongodb testcontainer within docker (to run in CI). When I use the testcontainer on the host, all works fine. However, when I use it inside docker, I need to access the testcontainer via the host (`host.docker.internal`). Is there some way for `get_connection_url()` to always return the "right" connection url?

I tried to put together an MWE:
[code]

[code]

[2021-12-02 08:25] Mohsin-Ul-Islam opened #161 "google cloud pubsub container do not expects keyword argument "channel" for publisher and subscriber client"
Whenever I create an instance of PubsubContainer from google.cloud module, it raises an exception "Unexpected keyword argument 'channel' for PublisherClient.__init__".

[2021-12-02 15:01] thedrow commented on #92
Shouldn't this be closed since #93 was merged?

[2021-12-02 15:20] #92 closed

[2021-12-10 16:46] KerstenBreuer opened #163 "Offer help to maintain the repo"
Hi @SergeyPirogov,

I am working as a developer at the German Cancer Research Center (DKFZ) in Heidelberg and I absolutely love your testcontainers-python package. I am using it all the time at work and it makes my life way easier.

I noticed that the PRs in the repo are starting to pile up and that tests are failing. I completely understand that maintaining an open source poject that popular can

[2021-12-10 23:43] cal97g commented on #163
I think bringing in additional maintainers for this project would be a good step. I think it's a good project, it's definitely very useful for integration testing and is really the only option to write pythonic integration tests that I know of. I think adding to the team of maintainers would enhance the popularity of the project, which seems to be lacking the user base of the other language implem

[2021-12-11 16:39] tillahoffmann commented on #163
Hey, yes, expanding the set of people who can contribute directly and maintain the code base is a good idea. I'm happy to add @KerstenBreuer unless you have objections @SergeyPirogov.

[2021-12-11 17:20] SergeyPirogov commented on #163
I dont see many requests for changes

[2021-12-13 02:39] tillahoffmann commented on #146
Duplicate of #109. Let's discuss further there if needed.

[2021-12-13 02:39] #146 closed

[2021-12-13 02:41] tillahoffmann commented on #155
Closing due to lack of activity.

[2021-12-13 02:41] #155 closed

[2021-12-13 02:43] tillahoffmann commented on #150
You can set additional environment variables using the `with_env` method of containers. See below for an example.

https://github.com/testcontainers/testcontainers-python/blob/8ca1f917594b81affbb65503b631bea86bd6c13d/tests/test_new_docker_api.py#L17-L19

Feel free to reopen if you have any issues with the snippet.

[2021-12-13 02:43] #150 closed

[2021-12-13 03:04] tillahoffmann commented on #163
I think there's a bit of stuff we could do in terms of maintenance (I've closed a few outstanding issues that were resolved/didn't have a response). Maybe this thread is an opportunity to prioritise.

## Maintenance and bugs

- #161 raises issues with google cloud pubsub (presumably because the python client version used in our repo hasn't been bumped in a while).
- #159, #157, #141, #143, #138, #

[2021-12-13 09:49] KerstenBreuer commented on #163
@cal97g, @tillahoffmann thanks a lot for the feedback and @tillahoffmann thanks for giving the summary.

@SergeyPirogov, I hope my message was not misunderstood. I don't think that this repo is badly maintained. On the contrary, I see a lot of value in it and it could become a major component of our long-term software strategy. This is why, I would be happy to see this repo in the best possible sh

[2021-12-13 17:10] Mohsin-Ul-Islam commented on #161
This issue came when I used google cloud pubsub client library version 2.5.0 via poetry. While the requirements in this project contain version 1.7.0.

Here is the release where **channel** keyword argument was passed to underlying pubsub clients https://googleapis.dev/python/pubsub/0.43.0/_modules/google/cloud/pubsub_v1/subscriber/client.html
But this is outdated and the implementation has been c

[2021-12-14 08:06] KerstenBreuer commented on #163
@SergeyPirogov do you have any feedback or comment? Otherwise, I think this issue can be closed.

[2021-12-14 09:29] Ledmington opened #165 "Improve DockerCompose documentation"
Hi. I'm starting to use testcontainers to test the behavior of a simple P2P network written in Python. I noticed that the auto-generated documentation for each class is just a copy of the constructor (without parameters descriptions) and a small code example. It would be really helpful if, at least, a small description of the behavior of each available method for each class was provided. Then this

[2022-01-10 17:47] robin-wayve opened #170 "kafka testcontainer always advertises `localhost`"
The `tc_start` method for the Kafka testcontainer always sets the advertised listener (sent to clients) as `localhost`
https://github.com/testcontainers/testcontainers-python/blob/d48294c8cfc7509c50242730d4d310a14d7ebc7c/testcontainers/kafka.py#L47-L61

---

If you're in a docker-in-docker context, you'll be given the bridge network gateway (`172.17.0.1`) as the bootstrap server IP, but then your

[2022-01-12 12:46] yakimka commented on #163
@tillahoffmann @SergeyPirogov is this repository maintained? There are a lot of PR requests that no one answers for weeks or months. Are you sure you don't need help maintaining this repository?

[2022-01-14 16:58] bomzheg commented on #108
I think this happened for a different purpose, but I'm curious as to why.

it defined in docker-py
https://github.com/docker/docker-py/blob/a48a5a9647761406d66e8271f19fab7fa0c5f582/docker/api/client.py#L168
but I don't understad why/

[2022-01-18 04:43] awhillas opened #176 "Is it possible to use a local image?"
I'm trying to test an AWS lambda that is defined in a docker image (not s3 zip). I've follow the instruction in [Testing Lambda container images locally](https://docs.aws.amazon.com/lambda/latest/dg/images-test.html) and have a build target that has the entry point. Anyway, I'm trying to run this image, which I have built locally, but using its not getting run?

Code is:
[code]
running with pytest

[2022-01-18 15:04] tillahoffmann commented on #176
You'll have to either use `subject.start()` to start the container or use it as a context manager (recommended).

[code]

The advantage of using the context manager is that it will stop and clean up the container for you when the test is over.

[2022-01-18 20:12] awhillas commented on #176
Excellent! Thank you. Perhaps this should be added as a note somewhere in the documentation or this query can lay testament to its fact as it stands.

[2022-01-18 20:51] awhillas commented on #176
So, i'm trying to run may container at the same time as the localstack container... is this possible? I'm doing this but only ever see localstack spin up?
[code]
I can only ever seem to run one container at once? Is this by design?

[2022-01-18 20:52] awhillas commented on #176
So, i'm trying to run may container at the same time as the localstack container... is this possible? I'm doing this but only ever see localstack spin up?
[code]
I can only seem to run one container at once. Is this by design or should I start looking at docker-compose.yaml files?

[2022-01-20 10:02] thedrow opened #177 "Commit Access"
Since @naomielst and I are developing a new pytest plugin for celery which uses this library, we would like to have commit access so that we can ensure this project moves forward if other maintainers are not available for reviewing contributors PRs and to add the features we need for the plugin to work.

Would it be possible to add us as committers?

[2022-01-20 15:27] tillahoffmann commented on #177
Hi @thedrow, let's continue this discussion in #163.

[2022-01-20 15:27] #177 closed

[2022-01-20 16:56] KerstenBreuer commented on #163
Hi @SergeyPirogov, @tillahoffmann,
I would really like this repo to be in the best possible shape. What it does is awesome and you are definitely very good maintainers.

However, since this project is becoming more and more popular it is only natural that it cannot be maintained by only two developers.

It seems that there are lots of volunteers for maintenance (@thedrow & @naomielst - see https:/

[2022-01-23 16:23] #170 closed

[2022-01-24 19:39] yakimka commented on #163
@SergeyPirogov, @tillahoffmann ?

[2022-01-24 20:08] SergeyPirogov commented on #163
I will add anybody as a maintainer. Just leave your ids

[2022-01-25 12:44] KerstenBreuer commented on #163
Great thanks so much for your trust. Here would be my id: @KerstenBreuer

[2022-01-25 17:51] thedrow commented on #163
@SergeyPirogov me and @naomielst

[2022-01-28 21:28] yakimka commented on #163
@SergeyPirogov?

[2022-02-03 15:54] NikZak opened #178 "no -v option in docker-compose down"
Currently DockerCompose object is stopped like this.
[code]
The '-v' option is firmly coded - I would like to be able to choose the options for stop command. Sometimes I don't want the volumes to be removed

[2022-02-04 02:29] NikZak commented on #178
Actually in
[code]
you have a parameter for deleting containers after use
[code]

So just to need to make this consistent across the repo. Maybe something along these lines in DockerCompose:
[code]

[2022-02-11 09:51] SonoDavid opened #179 "Release new version on pypi"
The latest version which includes eg. rabbitmq support is not yet released in pypi.
The last version released on pipy dates back to 15/08/2021. Please release a newer version with support for some new testcontainers.

[2022-02-15 21:44] dpp23 opened #180 "Expose docker.from_env() parameters"
`testcontainers.core.DockerClient` calls `docker.from_env()` it it's constructor. This method has a few parameters that will be useful to be exposed (see [reference](https://docker-py.readthedocs.io/en/stable/client.html?highlight=from_env#docker.client.from_env))

Ideally `testcontainers.core.DockerClient` and conversely `testcontainers.core.DockerContainer` should expose these parameters.

[2022-03-07 08:00] naomielst opened #182 "Import issue from docker-py propagates to testcontainers"
Hi,

There is an [ongoing issue](https://github.com/docker/docker-py/issues/2948) with docker-py which is causing issues with testcontainers.

You can see the full error [here](https://github.com/celery/pytest-celery/runs/5083799951?check_suite_focus=true#step:7:59).

[2022-03-07 08:51] #182 closed

[2022-03-16 22:48] Ledmington opened #184 "Documentation apparently not created after "make docs" or "make html""
I forked the repo to try to work on a pull request about the documentation, so i tried to modify the comments in the testcontainers/compose.py file and generated the docs but my changes aren't showing up. What am i doing wrong?
I tried running `make docs` from the project root directory and also running `make html` from the docs directory.

[2022-03-16 23:00] Ledmington opened #185 ""make" failing when building pyodbc"
I started messing around with the code of this repo to try to help but unfortunately i can't get it to compile.
I simply run `make` on the project's root directory and this error showed up when pip was trying to install pyodbc:
[code]

[2022-03-17 09:26] rkettelerij commented on #179
Any plans for a new release?

[2022-03-17 09:43] Ledmington commented on #185
After some trial and error i found that i need to add these lines in the Dockerfile, present in the project's root directory, in order to install the library `sql.h`.
[code]

[2022-03-20 09:28] jossefaz opened #186 "Running python testcontainers on Mac Silicon M1"
I am not sure if it is related to the docker installation on mac but I am not able to run testcontainers since I switched to Mac.
I got a timeout error on the `self._connect()` method
My code is petty straightforward :

[code]

I got this output :
[code]
And then I got this traceback

[code]

The docker daemon is running and the output of `docker ps` command has no issue, but no container is runni

[2022-03-20 10:05] jossefaz commented on #186
Related thread : https://github.com/google/cadvisor/issues/2763

[2022-03-20 10:33] jossefaz commented on #186
I came across the option of specifying the platform :

[code]
Which works
However, I did not manage to specify this option through the testcontainers API
I tried :
[code]
But I still got the timeout error.
However: I do see my container is now running by executing this code. But I still got the timeout error and testcontainers seems to not be able to retrieve the connection string from the running

[2022-03-22 12:38] KerstenBreuer commented on #163
I have not received maintenance rights, yet. @thedrow, @naomielst what about you?

[2022-03-22 17:35] thedrow commented on #163
Not yet.

[2022-03-23 18:16] spicy-sauce opened #187 "redis container does not support password"
This can be achieved by:
        return DockerContainer(
            image="redis:latest").with_bind_ports(
            6379, redis_port).with_command(f"redis-server --requirepass {redis_password}")

Cannot be achieved in RedisContainer as its @wait_container_is_ready waits to a redis client to be ready only by host and port:
[code]

I can provide a PR, just let me know that it's something you'll

[2022-03-24 16:57] roman-baldaev commented on #186
@jossefaz I have the same problem on my M1, but I think it's image specific.
Works fine with `'mysql/mysql-server'` image:
[code]

[2022-03-24 17:08] tillahoffmann commented on #186
Yes, mysql doesn't offer an arm image yet, as far as I'm aware. You can use the mariadb image instead and things should work as expected. See here for some more details: https://github.com/testcontainers/testcontainers-python/pull/136

[2022-03-26 20:26] yakimka commented on #184
Have you installed `sphinx`?

[2022-03-26 21:07] yakimka commented on #157
I am closing this issue. However, if this problem is still relevant, please open it again, but provide an example to reproduce the error.

[2022-03-26 21:07] #157 closed

[2022-03-26 22:22] #105 closed

[2022-03-26 22:24] yakimka commented on #163
@tillahoffmann add please @KerstenBreuer as a maintainer

[2022-03-27 20:54] yakimka commented on #144
Closed by #149

[2022-03-27 20:54] #144 closed

[2022-03-27 21:12] yakimka commented on #185
Fixed by #136

[2022-03-27 21:12] #185 closed

[2022-03-30 14:37] sealor commented on #179
I would also highly appreciate a new release. The following commit fixes a bug with Docker-In-Docker:
https://github.com/testcontainers/testcontainers-python/commit/cfd6b12511d12d4762ac7f1102075b72b453975a

@tillahoffmann
Do you have any plans for the next release?

[2022-03-30 20:47] tillahoffmann commented on #179
3.5.0 is now released.

[2022-03-30 20:47] #179 closed

[2022-03-30 20:48] tillahoffmann commented on #186
Some of these issues should be fixed in 3.5.0 after merging #136. Feel free to reopen if M1-specific issues crop up again.

[2022-03-30 20:48] #186 closed

[2022-03-31 12:21] sealor opened #192 "Log output on container startup pollutes the test log file"
I'm using `testcontainers` for Kafka. The Kafka broker needs a few seconds to start-up.
While waiting to be ready the `testcontainers` library logs a great number of unnecessary lines.

Those lines should be reduced to prevent log file pollution.

https://github.com/testcontainers/testcontainers-python/blob/9100aaf8701098db11792fad51116a9c8bf0cfd5/testcontainers/core/waiting_utils.py#L50-L51

Poss

[2022-03-31 16:33] tillahoffmann commented on #192
Good point. Let's use the `debug` level instead. Are you open to sending a PR?

[2022-03-31 17:00] Ledmington commented on #184
Yes.
Output of `sphinx-build --version`:
[code]

[2022-04-01 10:05] sebastian-hatala-leanix opened #193 "`wait_container_is_ready` throwing TimeoutException on first try"
After updating to v3.5.0 our tests using `PostgresContainer`s are failing.

My guess is that this has to do with the changes regarding transient exceptions. We use `psycopg2` and the error thrown on unsuccessful connection is not inheriting `sqlalchemy.exc.OperationalError` but rather is a plain `AttributeError` with message:

```'NoneType' object has no attribute '_stan_scope'```

[2022-04-01 13:15] tillahoffmann commented on #193
Interesting, I can't find any mention of `_stan_scope` [except for one file on GitHub](https://github.com/search?q=_stan_scope&type=code), and I don't think it's in one of our dependencies. Could you share the traceback?

[2022-04-01 13:39] tillahoffmann commented on #187
Yes, a PR would be great, thank you!

[2022-04-01 13:42] tillahoffmann commented on #176
I'm closing this for now, but feel free to reopen/comment if you're still having issues with local containers.

[2022-04-01 13:42] #176 closed

[2022-04-01 13:43] tillahoffmann commented on #178
Thanks for reporting, @NikZak. Are you up for putting together a PR?

[2022-04-01 16:00] NikZak commented on #178
I can make a PR but will you be able to quickly merge it? Just asking because I made prs in repos and now have a confirmation coming every three months and after a year they're still not merged. It's discouraging

[2022-04-01 18:56] drienkop opened #194 "sqlalchemy package becomes a dependency in v3.5.2"
Hey there,

as a side effect of fc5f2df4ba8157d21ecbf3a9a90cd45a61049f90 in v3.5.2,  `sqlalchemy` becomes a requirement even if you are just using a `MongoDbContainer`. This is due to adding `from sqlalchemy.exc import OperationalError` to the generic `DbContainer`.

This means if you just install `testcontainers`, code will fail as below:
[code]

Is it intentional? Should sqlalchemy be added to `

[2022-04-02 12:22] yakimka commented on #178
We will review it as soon as possible

[2022-04-02 15:31] yakimka commented on #194
We can add sqlalchemy to install_requires or we can import OperationalError only if sqlalchemy is installed. @tillahoffmann what do you think?

[2022-04-03 07:25] spicy-sauce commented on #187
https://github.com/testcontainers/testcontainers-python/pull/195

Please review and run checks.
Thanks!

[2022-04-03 15:48] yakimka commented on #187
Closed by #195

[2022-04-03 15:48] #187 closed

[2022-04-03 16:53] #194 closed

[2022-04-03 19:17] yakimka opened #197 "Readthedocs cant generate documentation for some modules"
Readthedocs can't generate documentation for Clickhouse, Neo4j, and other modules that import non-required 3rd party libraries.

.readthedocs.yml
[code]

In Github actions make docs don't fail because we install all dependencies manually but in readthedocs environment error raised:

[code]

We can fix this in two ways:
1. Import drivers always only in the method `_configure`
2. Specify all depende

[2022-04-04 17:36] BDavisEagle commented on #193
I might be hitting a different error, but in my case it was a `ConnectionError` that was being thrown, and previously would work ok on retry. Downgrading to before 3.5.0 seems to fix the issue.

[2022-04-04 18:48] tillahoffmann commented on #193
@BDavisEagle could you share the traceback?

[2022-04-04 19:37] BDavisEagle commented on #193
The output was mangled by our testing library, but I think this may help:
[code]

Which shows a `ConnectionError` at https://github.com/testcontainers/testcontainers-python/blob/master/testcontainers/core/waiting_utils.py#L49

[2022-04-04 21:07] Ledmington commented on #165
An example of what i'm saying: only yesterday i discovered that `testcontainers.core.waiting_utils` contains some useful (to say the least) functions such as `wait_container_is_ready` and `wait_for_logs` that are missing from the documentation.

[2022-04-04 21:15] Ledmington commented on #184
Now it works but i don't know why.

[code]

The problem about my changes not showing still persists, though. I thought it can happen because i have `testcontainers` already installed. So i removed it and tried again and `make docs` tells me this:
[code]

[2022-04-04 21:28] Ledmington opened #200 "AttributeError: 'DockerCompose' object has no attribute '_container' when calling `wait_for_logs` on `DockerCompose`"
I am trying to test a simple behavior of a P2P network: one peer dies right after the start and the other one must detect the death. To do so, i use the `DockerCompose` object and `wait_for_logs` to get the message `xxx.xxx.xxx.xxx is dead`. When i run it, it breakes inside `testcontainers.core.waiting_utils` for the reason stated in the title.
Looking inside the files, i found that it may happen

[2022-04-04 21:29] sebastian-hatala-leanix commented on #193
With sqlalchemy and asyncio I, too get an `ConnectionError`:

[code]

[2022-04-04 22:02] tillahoffmann commented on #184
If you've made changes in the source code (`.py` files) rather than the documentation (`.rst` files), those changes may not show up until you delete the output and rebuild from scratch (see https://github.com/sphinx-doc/sphinx/issues/3697 for details).

[2022-04-04 22:02] #193 closed

[2022-04-04 22:02] sebastian-hatala-leanix commented on #193
Also, here is the error I mentioned originally from psycopg2:

[code]

[2022-04-04 22:04] tillahoffmann commented on #193
This should be fixed in 3.5.3.

[2022-04-04 22:05] sebastian-hatala-leanix commented on #193
🎉 thank you. But do you recon the `ConnectionError` also catches the `AttributeError` I mentioned in my previous post?

[2022-04-04 22:09] tillahoffmann commented on #193
Hm, good point. I'm really not sure where that `AttributeError` is coming from. Are you by any chance using https://github.com/instana/python-sensor/? That's the only piece of code that I could find that references `_stan_scope`.

[2022-04-04 22:23] sebastian-hatala-leanix commented on #193
Yes, indeed I am using Instana! I'll give 3.5.3 a go and see if that fixes it 🤞

[2022-04-04 22:43] kieranlea commented on #165
I added docstrings for the docker compose module in #198, however as you mentioned is still missing documentation elsewhere like the core module

[2022-04-07 04:43] Ledmington commented on #200
Updating testcontainers to 3.5.3 fixed it.

[2022-04-07 04:43] #200 closed

[2022-04-08 06:22] Mohsin-Ul-Islam commented on #163
@SergeyPirogov add me as a maintainer as well! Thanks.

[2022-04-08 09:03] SergeyPirogov commented on #163
@KerstenBreuer @thedrow you should have access

[2022-04-08 12:06] #192 closed

[2022-04-11 11:00] thedrow opened #204 "Switch dependency management to poetry"
Poetry has a lock file and a better workflow than pip-tools which most software developers aren't familiar with or don't have the time to contribute something that requires more than a few lines and minimal effort like in #181.

Poetry on the other hand allows you to edit one file, pyproject.toml, and type `poetry update` and your lock file is updated.
We can even automate generating the lock and

[2022-04-11 16:47] KerstenBreuer commented on #163
Sorry, I didn't receive anything. Maybe, I was also too slow and the invite already expired?

[2022-04-15 22:08] henryx commented on #194
PR doesn't seems to fix ModuleNotFoundError when sqlalchemy module is not present. According to this my simple code:
[code]
execution of the code fails with this error:
[code]

[2022-04-18 10:35] tillahoffmann commented on #194
Yes, but that's expected because the postgres container needs sqlalchemy to establish a connection. See here for details.

https://github.com/testcontainers/testcontainers-python/blob/a2bc91eb5c387d389227117b65e6398e21b5da23/testcontainers/core/generic.py#L29-L33

Does that make sense?

[2022-04-18 16:45] ndlarsen opened #206 "v3.5.3 "fails" when using PostgresContainer"
Update/TL;DR:
Nothing actually broke and is not specific to `PostgresContainer`, it is just due to a change in logging level, see [this post](https://github.com/testcontainers/testcontainers-python/issues/206#issuecomment-1103026320)

Using v3.5.3 testcontainer-python breaks when using `PostgresContainer`, downgrading to 3.4.2 solves the issue. I have tried against several versions of the official

[2022-04-18 17:39] tillahoffmann commented on #206
Thanks for reporting. I can't reproduce the issue here. Would you mind running your test on `master`? You can run `pip install git+https://github.com/testcontainers/testcontainers-python` to install the `master` version.

[2022-04-18 20:21] ndlarsen commented on #206
[code]
[code]
[code]

[code]
[code]
[code]
[code]

So, whaterever is happening in versions 3.5.0, 3.5.1, 3.5.2 and 3.5.3, does not seem be be happening in 3.4.2 or in current master.

[2022-04-18 21:33] tillahoffmann commented on #206
It seems like the only relevant change is a change in logging level (see [here](https://github.com/testcontainers/testcontainers-python/compare/v3.5.3...master#diff-b904061ed3ccffc22218267b9fa382a16a833661c56a8654edb666bf0fd755ef) for details).

I still can't reproduce the issue either on 3.5.3 from pypi or by installing from the `v3.5.3` tag. We could release a new patch version to see whether th

[2022-04-19 19:38] ndlarsen commented on #206
First of all, thank you for your time, I appreciate it. Second, seeing the implementation of `def wrapper(wrapped, instance, args, kwargs)`, it is clear that the code is not breaking at all but logging during the retry loop and, as you are pointing out, this is just evident due to a change in logging level. I wrongly assumed that it broke as the exception was logged. I expect whatever is the actua

[2022-04-20 10:12] tillahoffmann commented on #206
Closing this for now as #207 is merged. But feel free to restart the discussion if this issue persists.

[2022-04-20 10:12] #206 closed

[2022-04-26 11:17] timbmg commented on #180
Do I understand correctly, you want to be able to configure the docker client yourself? If so, you can do that already by changing the environment variables according to the reference you posted. For example you can set `DOCKER_HOST` to whatever URL you require.

[2022-04-26 13:12] dpp23 commented on #180
@timbmg no, this is not what I meant. I would like to be able to set `timeout` or `max_pool_size` as parameters passed to `docker.from_env`. I don't think these are read from env vars.

[2022-04-26 14:16] timbmg commented on #180
I understand. I'd be happy to do a PR on this.

So basically, we can add `**kwargs` to the `DockerClient` constructor and pass that to the `.from_env` method. Similarly, in the `DockerContainer` class,  we can pass the `kwargs` to the `DockerClient`.

What do you think @tillahoffmann @SergeyPirogov @KerstenBreuer @thedrow ?

[2022-04-26 18:36] thedrow commented on #180
I think it could be useful to implement it this way but it doesn't really abstract the Docker client which isn't bad per-se if the project's scope is limited only to Docker and not other kind of containers (BSD Jails could be useful for example). However, we do need to consider that we might switch from the official docker client at some point since it may be phased out or since Docker Inc will un

[2022-04-27 13:45] tillahoffmann commented on #180
That sounds reasonable. But let's pass a dictionary `docker_client_kw` to `DockerContainer` and then unpack the dictionary in the call to `DockerClient` akin to `gridspec_kw` `matplotlib.pyplot.subplots`.

[2022-04-27 15:09] #184 closed

[2022-05-03 14:19] orsolli commented on #140
This is solved

[2022-05-04 12:56] tillahoffmann commented on #140
#156 for reference.

[2022-05-04 12:56] #140 closed

[2022-05-04 15:01] tillahoffmann commented on #163
I think everyone who's offered to contribute now has an invite. But let me know if that's not the case. @KerstenBreuer, I resent your invite.

[2022-05-04 15:01] #163 closed

[2022-05-07 17:23] #197 closed

[2022-05-11 14:06] tharwan opened #215 "Installation with poetry and mssqlserver extra broken"
Hi,

when installing with the mssqlserver extra poetry attempts to install pymssql 3.0.3 which complains:

        version specifier like "pymssql<3.0".  For details and alternatives see:
        https://github.com/pymssql/pymssql/issues/668
        [end of output]

a workaround is to do as it says. But maybe the pymssql dependency should be removed in favour of pyodbc.

[2022-05-12 03:04] mehadi92 opened #216 "Support for websockets testing"
Is python websockets testing available?

[2022-05-13 08:46] timbmg commented on #143
That should work already. The `BrowserWebDriverContainer` passes a `kwargs` object down to the `DockerContainer` constructor. When we call the `start` function,[ that kwargs object is passed to `container.run`](https://github.com/testcontainers/testcontainers-python/blob/df0c28afef8dc26c0a685b0919d9b9aa65ccc5c2/testcontainers/core/container.py#L53-L61).  And [according to the docker-py documentati

[2022-05-13 08:47] timbmg commented on #216
If your docker container supports it, it should work. Do you have a concrete example?

[2022-05-13 16:17] mausch commented on #206
Same issue here on 3.5.3, had to downgrade to 3.4.2.
Looking forward to testing it again on the next release.

[2022-05-13 17:11] mausch commented on #206
Fresh out of the oven :slightly_smiling_face:
3.5.4 works fine, thanks!

[2022-05-16 12:18] mehadi92 commented on #216
@timbmg Thank you for your response,

I have a websocket server same as [asr_server.py](https://github.com/alphacep/vosk-server/blob/master/websocket/asr_server.py)

And I have a docker file base on this script
[code]
Now I would like to test this `Dockerfile` image. How can I do  it using [testcontainers-python](https://github.com/testcontainers/testcontainers-python)

Thanks

[2022-05-16 13:23] timbmg commented on #216
You can in principal start any container with
[code]
Just build the image before and tag it, then run your test code.

[2022-05-16 18:09] inikolaev commented on #159
Running into the same issue on the macOS at least, but haven't yet tried in the actual CI. Looking at the source it looks like it's possible to pass `TC_HOST` environment variable and it's value will be returned from `DockerClient.host()` method.

But that means I have to initialise it with the gateway IP first in order to everything to work correctly.

[2022-05-16 19:30] nomme opened #217 "Usage in GitLab not working"
Hi,

I see issues such as https://github.com/testcontainers/testcontainers-python/issues/43, https://github.com/testcontainers/testcontainers-python/issues/25, https://github.com/testcontainers/testcontainers-python/pull/154 and the [`gitlab-ci.yml` in the gitlab branch](https://github.com/testcontainers/testcontainers-python/blob/77ce99a92d7902983609b3e964a60379b323f74c/.gitlab-ci.yml) indicating

[2022-05-20 19:46] tillahoffmann commented on #217
Testing on gitlab CI is rather difficult because of [this issue](https://gitlab.com/gitlab-org/gitlab/-/issues/5667). In short, gitlab cannot run CI on forks which means every change would first have to be pushed onto a branch in the main repository. I don't expect to pick it up again until the issue is resolved.

[2022-05-21 14:31] nomme commented on #217
I modified the test to have greater control over the container setup.

[code]

When `my_connect` is called the error is
[code]

`socket_test` gives a timeout
[code]

I've extracted the Kafka container logs and found no issues. The listening IP and port listed in the log are the same as generated by testcontainers' `get_bootstrap_server`. It appears to me that the test container and the Kafka conta

[2022-05-23 10:19] nomme commented on #217
This gitlab runner issue seems relevant. Some conflicting reports on whether it works or not. https://gitlab.com/gitlab-org/gitlab-runner/-/issues/3251

[2022-05-23 15:51] mausch commented on #109
I figured out the same workaround mentioned in https://github.com/testcontainers/testcontainers-python/issues/109#issuecomment-748758167 , then found this issue about keeping containers alive.

I think this is worth documenting at least. I was surprised to see that my containers were getting deleted even when I explicitly didn't start them with a context. I had to dig around the code of testcontai

[2022-05-23 19:15] tillahoffmann commented on #109
Sounds like there is sufficiently broad interest in this feature. We could add a `remove: bool = True` keyword argument to the constructor and keep the container alive if `not remove`. Note that a PR would now need to modify the `atexit` registration once #208 is merged.

[2022-05-27 06:14] menon92 commented on #216
@timbmg I'm getting this error `ConnectionRefusedError: [Errno 111] Connect call failed ('127.0.0.1', 2700)` when running the bellow code. Is there anything I'm messing with? Thanks

[code]

[2022-05-27 08:01] timbmg commented on #216
Which container are you running? I.e. with what did you replace "my-image"?

[2022-05-27 08:08] menon92 commented on #216
@timbmg Build a docker image using [Dockerfile.kaldi-en-in](https://github.com/alphacep/vosk-server/blob/master/docker/Dockerfile.kaldi-en-in file and replace "my-image" with my local docker image name

[2022-05-27 08:30] menon92 commented on #216
@timbmg I also try with `DockerCompose()` and it has the same issue. You can regenerate the issue as follows,

Project structure
[code]
1. `docker-compose.yml` file contains
[code]
2. `Dockerfile` contains
[code]
3. `server.py` contains
[code]
4. `test_server.py` contains
[code]

But when I run `python test_server.py` it gives me the following error
[code]

[2022-05-27 11:03] timbmg commented on #216
You also need to expose the port when running the image; `EXPOSE` by itself does not do it.

here's a MWE:
[code]

This maps a random, available port to port 80 of the container.

[According to the docker docs on EXPOSE](https://docs.docker.com/engine/reference/builder/#expose)

[2022-05-27 11:27] menon92 commented on #216
@timbmg Still facing the issue, does it support `async` ?  Can't test the bellow code under context manager

[code]

[2022-05-27 13:57] Vad1mo opened #218 "Use with psycopg3"
This is more of a question, we are using psycopg3, and I was wondering how I can get this working without writing my onw setup

`sqlalchemy.exc.NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:postgresql.psycopg3`

[2022-05-27 14:12] tillahoffmann commented on #218
Could you please share a reproducible code snippet, including version numbers of the libraries you're using?

[2022-05-27 14:31] Vad1mo commented on #218
just found out psycopg3 is only supported with sqlalchemy 2.

[2022-05-27 14:31] #218 closed

[2022-05-27 18:38] timbmg commented on #216
Does it work with the docker cli? Ie when you start your container with docker run and then run the python code that connects.

Is there maybe some waiting required before the server becomes available?

[2022-05-28 03:17] menon92 commented on #216
@timbmg I use this docker image [https://hub.docker.com/repository/docker/menon92/simple_ws](https://hub.docker.com/repository/docker/menon92/simple_ws)

and run this docker container using,
[code]
Now I can run the bellow code without any issue
[code]

[2022-05-29 07:04] pmpetit opened #219 "[oracle]: waiting for the listener..."
Hello,

In an OracleDB, you connect to the db through the oracle listener process. In this image, when oracle db starts, it also starts the listener that will establish cx between the client and the db.

in the file core/generic.py, when the container starts, it also try to connect in the same time (just after)
But in an oracle db, you have to wait for the listener.

[code]

it is very simple to t

[2022-05-29 11:01] menon92 commented on #216
@timbmg Adding explicit delay solves the issue, Here is an example that solves this issue. Is there any other way to address this problem?

[code]

[2022-06-04 17:49] pmpetit commented on #219
self = <sqlalchemy.dialects.oracle.cx_oracle.OracleDialect_cx_oracle object at 0x10aa4cd00>
cargs = ()
cparams = {'dsn': '(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=49154))(CONNECT_DATA=(SID=XE)))', 'password': 'oracle', 'user': 'system'}

    def connect(self, *cargs, **cparams):
        # inherits the docstring from interfaces.Dialect.connect

E       cx_Oracle.DatabaseError: ORA-

[2022-06-04 17:51] pmpetit commented on #219
the error is here:
[code]

[2022-06-04 18:02] pmpetit commented on #219
here the log of the oracle container:

Starting Oracle Net Listener.
Starting Oracle Database 11g Express Edition instance.

System altered.

we should wait for "System altered." to be sure the listener is running.

[2022-06-18 16:15] pmpetit commented on #219
No more issues with the last version.

[2022-06-18 16:15] #219 closed

[2022-06-21 20:17] tianhaogu opened #223 "Kafka - NoBrokerAvailable"
Hi, I'm currently working on testing kafka broker / topic and payload for integration testing, **I just want to know that to spin up the kafka docker container, I first have to install kafka broker locally right?** Because when I run the following code:
`with KafkaContainer('confluentinc/cp-kafka:5.4.3') as kafka_container:
     bluhbluhbluh.....`
a specific kafka gets started, and is waiting to b

[2022-06-21 20:36] tillahoffmann commented on #223
Hi, could you please post a reproducible example, including the traceback you get?

[2022-06-21 21:27] tillahoffmann commented on #223
Hey, could you please post these as text rather than as screenshots?

[2022-06-21 22:22] tianhaogu commented on #223
After running into the line `with KafkaContainer('confluentinc/cp-kafka:5.4.3') as kafka_container:`, I met the following exception:

`Pulling image confluentinc/cp-kafka:5.4.3`
`Container started: 2600dbd6a9`
`Waiting to be ready...`
`Traceback (most recent call last):`
`  File "C:/Users/xxx/run_container.py", line 178, in <module>`
`    main()`
`  File "C:/Users/xxx/run_container.py", line 164,

[2022-06-22 14:02] tianhaogu commented on #223
Hi, is there any update?

[2022-06-22 14:10] tillahoffmann commented on #223
Which version of the package are you using?

This project is entirely run by volunteers with other day-time jobs; expect delays in replies accordingly.

[2022-06-22 14:13] tianhaogu commented on #223
Regarding python, it's 3.8. And kafka image version is 5.4.3 as shown above.

[2022-06-22 14:16] tillahoffmann commented on #223
Which version of the testcontainers package are you using?

[2022-06-22 14:22] tianhaogu commented on #223
I just pip install `testcontainers[kafka]` as followed by the installation instruction.

"docker container ls" shows:
`CONTAINER ID   IMAGE                         COMMAND                  CREATED        STATUS        PORTS                               NAMES`
`2600dbd6a902   confluentinc/cp-kafka:5.4.3   "sh -c 'while [ ! -f…"   38 hours ago   Up 38 hours   9092/tcp, 0.0.0.0:57192->9093/tcp   you

[2022-06-22 14:31] tillahoffmann commented on #223
Please run `pip freeze` and post the output here.

[2022-07-08 08:11] palmleon opened #226 "Update Docker Compose call when launching a Docker Compose command"
Hi everyone!
While I was trying to create a DockerCompose object, I have noticed that testcontainers tries to launch a deprecated ```docker-compose``` command, rather than ```docker compose```. I think the project should move to the latter as it is the currently supported version of the command.

[2022-07-09 00:46] ryan-WORK opened #227 "DockerCompose Example cannot get it to run"
My `python` file:

[code]

My `docker-compose-1.yml` file:

[code]

The error I am getting is :
[code]

Is there something that I am not doing to make this work? All of the other examples I have tried seem to work just fine.

[2022-07-11 07:00] lippertto opened #228 "Unknown setting 'discovery.zen.minimum_master_nodes' in elasticsearch testcontainer 8.x"
I am trying to start the testcontainers with a new 8.x elasticsearch image with testcontainers 3.6.0.
However, the container quits immediately, and I cannot execute any tests.

I found out that the  `discovery.zen.*` settings are no longer supported and will cause the container to quit now. [ES 8 breaking changes](https://www.elastic.co/guide/en/elasticsearch/reference/master/migrating-8.0.html#br

[2022-07-22 19:47] jmorales4 opened #229 "Some containers fail to start due to exposed port race condition"
DbContainer.start()
	calls @wait_container_is_ready()DbContainer._connect()
	calls virtual DbContainer.get_connection_url() implemented in derived classes (e.g. postgres)
	calls DbContainer._create_connection_url(...) in derived classes (e.g. postgres)
	calls DockerContainer.get_exposed_port(...)
	calls DockerClient.port(...) which returns None if called too quickly after container creation (on FA

[2022-07-24 16:31] tillahoffmann commented on #229
Thanks for reporting! Raising a `ConnectionError` as you suggested sounds like a good idea. Would you be happy to submit a PR?

[2022-07-25 20:58] jmorales4 commented on #229
https://github.com/testcontainers/testcontainers-python/pull/230   Note that the above suggested fix worked for DbContainers but the behavior was found on other container types in your unit tests.  The PR fixes it for all container types in the unit tests.

[2022-07-30 18:26] xSAVIKx commented on #108
FYI there's some movement in docker-py and a new beta is available already: https://github.com/docker/docker-py/releases/tag/6.0.0b1

It has a lot of fixes related to dependencies and better  Windows support

[2022-08-03 06:46] Warfront1 commented on #215
pymssql is still fully supported and maintained, read the whole chain.
Compared to the similar Microsoft SQL Github repositories, the support/maintenance would appear to be actioned much more rapidly.

[2022-08-03 06:54] tharwan commented on #215
Well it is nice to know but not obvious at all given the error message and the linked ticket 😅

[2022-08-03 12:18] n1ngu commented on #109
I am testing a sort of ETL that connects to quite a lot of testcontainers and this feature would be awesome.

I imagine a workflow similar to the reutilization of DB schemas in pytest-django: an optional flag telling whether to try to reuse already running containers and a second flag telling to stop and respawn them. https://pytest-django.readthedocs.io/en/latest/database.html#example-work-flow-w

[2022-08-03 17:57] dboreham commented on #229
Would it be possible to get https://github.com/testcontainers/testcontainers-python/pull/230 reviewed and merged?
I just ran into this issue myself and the PR fixed it for me. Tx.

[2022-08-04 13:39] diemol opened #231 "👋 From the Selenium project!"
At the Selenium Project we want to collaborate with you and work together to improve the WebDriver ecosystem. We would like to meet you, understand your pain points, and discuss ideas around Selenium and/or WebDriver.

If you are interested, please fill out the form below and we will reach out to you.
https://forms.gle/Z72BmP4FTsM1GKgE6

We are looking forward to hearing from you!

PS: Feel free t

[2022-08-06 00:46] #229 closed

[2022-08-07 21:52] tillahoffmann commented on #228
Do you know whether simply removing `discovery.zen.minimum_master_nodes` would break elasticsearch tests for earlier versions?

[2022-08-08 11:44] lippertto commented on #228
This setting is ignored in Elasticsearch 7. (https://www.elastic.co/blog/a-new-era-for-cluster-coordination-in-elasticsearch). So yes, this can easily be removed. I tried with 7.17.5, and it worked.

As for version 6: I get an error message during start-up.
[code]
When I set the kernel parameter to a higher value, this works again. But I think it is better to keep `discovery.zen.minimum_master_nod

[2022-08-08 11:49] lippertto commented on #217
fwiw - we run some of our test containers on gitlab-ci with the 'services'. This will delegate launching containers to gitlab, which usually works fine. That means that your test setup on ci will be slightly different from the one that you execute on your dev machine, which is not always what you want. But it worked fine for our case and caused no major trouble.

Maybe that helps you to solve your

[2022-08-08 21:36] tillahoffmann commented on #228
Nice, thanks for digging into this. Your proposal of submitting a PR that checks for the version and sets environment variables appropriately sounds great!

[2022-08-11 09:44] lippertto commented on #228
I have done a small PR and added the three currently supported versions to the tests. They seem to be doing fine.
Can you please have a look?

[2022-08-15 19:26] tillahoffmann commented on #228
Fixed in #232.

[2022-08-15 19:26] #228 closed

[2022-08-17 10:10] jakobbraun commented on #217
I just got the PostgreSQL container running it GitLab using Docker-in-Docker and the following fix for the container:

[code]
Then just use `FixedPostgresContainer` instead of `PostgresContainer`.

For me the container was trying to connect to Postgres on a local socket and did not respect the `DOCKER_HOST` variable.
Maybe it would make sense to add this fix to the postgres container.

[2022-08-18 02:28] tillahoffmann commented on #217
Interesting, @jakobbraun. Do you know why this resolves the issue? It seems to me like the fixed version should give the same result. In particular, the call sequence is as follows (in the unfixed version).

https://github.com/testcontainers/testcontainers-python/blob/b4ccb972e9edcc2289cce7fb66524d3f4865b7fb/testcontainers/postgres.py#L56-L62

So `host` is passed as is (still `None`) to ...

https

[2022-08-24 12:06] vikahl opened #236 "Provide generic DockerContainer with init attributes"
_First I want to thank you for this very nice and convenient library._

## Background

I am using the library for smoke tests for microservices. In these tests I spin up a container and make sure I can e.g., fetch an endpoint and see that the container is built and starts correctly.

The library provides all convenient methods, except for a way to set e.g., ports and env variables in the context m

[2022-08-24 15:20] tillahoffmann commented on #236
Yes, that's probably a good idea because we already support all the other (less commonly used) arguments through keyword arguments. Are you open to submitting a PR?

Regarding `GenericContainer`, I deprecated it because it's the same as `DockerContainer` just with a different name.

[2022-08-24 15:37] vikahl commented on #236
I'm happy to submit a PR!

[2022-08-25 11:03] thedrow opened #237 "Drop Python 3.6 support"
Python 3.6 reached EOL on 23 Dec 2021.
I think we should not maintain support for versions that have reached EOL to ease our maintenance burden.
If a user wants support for Python 3.6, they can use an earlier version of testcontainers until they upgrade.

[2022-08-25 13:35] vikahl commented on #236
Submitted a PR, happy for a review.

[2022-08-26 10:10] hpsjakob commented on #217
Ok, now I found the time to take a clother look. (Don't wonder that I changed the github account. Now it's my company account but still me.)
You're right. I jsut accidentially fixed the problem.
The line you mentioned is also perfectly fine. The issue is the `if inside_container()` condition: This is true since we are in a contaiener.  Insdie the condition we then return something else then the va

[2022-08-28 09:55] csikb opened #239 "Make DockerCompose.get_service_info public"
Return a touple with the host and the port

[code]

[code]

[2022-08-28 19:45] tillahoffmann commented on #239
Sounds good. Fancy sending a PR?

[2022-08-28 19:53] csikb commented on #239
Sure, I alredy did the coding part, let me look trough it if everything is OK with it.

[2022-08-28 19:55] tillahoffmann commented on #239
Should just require removing the underscore in `compose.py`, right?

[2022-08-28 20:04] csikb commented on #239
And adding a test case

[2022-08-28 20:04] csikb commented on #239
https://github.com/testcontainers/testcontainers-python/pull/240

[2022-08-28 20:16] csikb opened #241 "Add a wait_for_healthcheck method to DockerCompose"
It's possible to check if the healthcheck passed trought the cli.
`docker ps --format json` will list all the services running and their corresponding healthchecks.

Proposed method signature: compose.wait_for_healthcheck(sec: int = 10)

High level description how it should work:
Iterate trough services check if healthcheck is healthy.
If not: wait and repeat until timeout.

[2022-08-28 20:17] csikb commented on #241
testcontaners java and node has the option to wait for healthcheck. It would be nice if testcontainers-python would have the same funtionality

[2022-08-30 09:44] Panikabor opened #242 "Kafka - KafkaContainer not working with confluentinc/cp-kafka:7.1.3"
Hello,

When using
[code]
in a pytest fixture (but I do not think pytest is the cause, as it was working with the same setup and `confluentinc/cp-kafka:5.4.9` docker image)
the container waits for 2 minutes before outputting the following :
[code]

It looks like the _connect method of the KafkaContainer class does not work with this version.
I tried to replace it by the following :
[code]
and it w

[2022-08-30 09:49] Panikabor commented on #242
I wonder if the root cause is not that `consumer.topics()` returns an empty list with a newer version of confluentinc/cp-kafka, and makes the if test fail.

[2022-08-30 14:15] tillahoffmann commented on #242
Thanks for reporting, @Panikabor. Yes, a PR would be great! It would be great to have a test showing that the updated code works with both older and newer versions of Kafka.

[2022-08-30 14:40] Panikabor commented on #242
I'll try to do it. Which test framework are you using, so I can write the test accordingly ?

[2022-08-30 14:41] tillahoffmann commented on #217
Would you mind trying this snippet just to check that we have a valid `host` variable?

[code]

[2022-08-30 14:42] tillahoffmann commented on #242
We're using pytest. You can have a look at existing Kafka tests here: https://github.com/testcontainers/testcontainers-python/blob/master/tests/test_kafka.py

[2022-08-30 15:46] Panikabor commented on #242
Here is the PR : #243

[2022-09-07 07:28] Panikabor commented on #242
Hello, Any idea of when it will be delivered on pypi ? Beacause I still have my monkey patch in my project, and I'd like to get rid of it. Thank you.

[2022-09-13 07:26] gplssm opened #244 "Use SqlServerContainer with pyodbc driver"
In https://github.com/testcontainers/testcontainers-python/commit/fc5f2df4ba8157d21ecbf3a9a90cd45a61049f90#diff-313a71bf8d0b95ccd84a98f198294e10a7c7086c527efb513d9c6619a12086ee the default driver of `SqlServerContainer` was changed to pymssql.
Currently, I use the pyodbc driver to communicate with MSSQL databases. This is not possible anymore since then. I've tried

[code]
which leads to a timeout

[2022-09-13 21:33] tillahoffmann commented on #244
Based on https://github.com/testcontainers/testcontainers-python/commit/fc5f2df4ba8157d21ecbf3a9a90cd45a61049f90#diff-313a71bf8d0b95ccd84a98f198294e10a7c7086c527efb513d9c6619a12086eeL45, can you try adding `with_env("SQLSERVER_DRIVER", "ODBC Driver 17 for SQL Server")` and see whether that does the trick?

[2022-09-30 13:33] gplssm commented on #244
Sorry for the long pause...

Yeah, that helps if we use the following as `get_connection_url(self)`
[code]

[2022-10-04 09:59] chbndrhnns opened #253 "Postgres example fails with OperationalError"
When copy and pasting the example for postgres, I get this output:

[code]

Is there anything else that needs to be configured?

[2022-10-06 12:38] tillahoffmann commented on #253
Are you referring to the example [here](https://github.com/testcontainers/testcontainers-python#basic-usage)?

[2022-10-06 12:57] tillahoffmann commented on #253
Great, thanks. And what's the output of running the following from the command line (see below for my result)?

[code]

[2022-10-20 09:07] SekoJuku opened #255 "APIClient._retrieve_server_version is causing trouble, even when I change dependencies"
Good day! I have an issue with MongoDbContainer, where MongoDbContainer has no attribute _container

repo link: [https://github.com/SekoJuku/test-app-fastapi](url)

[2022-10-20 10:02] SekoJuku commented on #255
Sorry this one is causing trouble
`test setup failed
self = <docker.api.client.APIClient object at 0x000001E85A024460>

    def _retrieve_server_version(self):
        try:

[2022-10-21 16:36] Robbie-Palmer opened #256 "Missing Container Docs: Kafka, Nginx and Redis"
There are no mention of Kafka, Nginx or Redis on https://testcontainers-python.readthedocs.io/
See:
- https://testcontainers-python.readthedocs.io/en/latest/search.html?q=kafka
- https://testcontainers-python.readthedocs.io/en/latest/search.html?q=nginx
- https://testcontainers-python.readthedocs.io/en/latest/search.html?q=redis

[2022-10-24 14:38] SomeAkk opened #257 "Clickhouse container ports setup"
When we use Clickhouse, we can use 2 kind of ports: 9000 and 8123.
Also different awesome libs work

- with just 9000
- with just 8123
- with both 8123 and 9000 ports

Problem in that: i can use 8123 port or 9000, but can't proper expose it (for example outside port must be 66612) because exposing port seted auto and than no overrided by `with_bind_ports()`. Also it can be needed to expose 1823 an

[2022-10-25 14:39] bitplane opened #259 "Compose should use `compose_file_name=[]` or `None` by default"
For some reason `docker-compose up -d` works subtly differently than `docker-compose up -d -f docker-compose.yml` when there are overrides files. I'm not sure why, but passing `compose_file_name=[]` fixes things for me locally as it doesn't build the `-f` list.

I think this should be the default, rather than defaulting to a specific file name.

[2022-10-28 10:37] SekoJuku commented on #255
Now it works on windows but doesn't work on Linux. Can someone explain it to me?

[2022-10-28 14:51] SekoJuku commented on #255
Ok, I just solved it! Be cautious of user permissions!

[2022-10-28 14:53] #255 closed

[2022-10-30 22:06] tillahoffmann commented on #257
@yakimka, do you have thoughts on this?

[2022-10-31 18:48] yakimka commented on #257
@tillahoffmann I created two PRs, please have a look

[2022-11-02 20:58] Duchadian commented on #217
For what it's worth, the fix @jakobbraun suggested also seems to work for the MySqlContainer:
[code]
Also tested this locally, that seems to work fine too.

Building further upon what @hpsjakob said:

IMO, this seems exactly right. Some test in Gitlab show that `self.get_docker_client().host()` is going to resolve to "docker" when "DOCKER_HOST" is set to "tcp://docker:2375". The gateway and the br

[2022-11-07 10:10] kiview commented on #231
Thanks @diemol, I will fill out the form to reach out for the Testcontainers project as a whole 🙂

Although I am not a maintainer of this repo, I will close the issue, hope that's ok.

[2022-11-07 10:10] #231 closed

[2022-11-08 14:13] SpyrosRoum opened #263 "Creating a Postgres contrainer with an async driver fails"
Hello,
When creating a new database container, testcontainers automatically tries to connect to it [here](https://github.com/testcontainers/testcontainers-python/blob/master/testcontainers/core/generic.py#L55), but if I specify an async driver (e.g. `PostgresContainer("postgres:14.4", driver="asyncpg")`) sqlalchemy tries to use that and fails because it's not in an async context.
Is there any way

[2022-11-09 14:17] gvenzl opened #264 "Use successor Oracle DB Python driver python-oracledb instead of the old cx-Oracle"
Back in May 2022, Oracle superseded [cx-Oracle](https://pypi.org/project/cx-Oracle/) with [python-oracledb](https://pypi.org/project/oracledb/), see the [release notes](https://python-oracledb.readthedocs.io/en/latest/release_notes.html).

The really nice thing about that is that python-oracledb is not only the successor of cx-Oracle with a better name, but it's also a thin driver, meaning that us

[2022-11-16 15:24] idkosilov commented on #253
Same issue. Are there any updates?

[2022-11-21 20:27] pffijt commented on #237
Python 3.6 support is removed now? I guess this issue can be closed

[2022-11-21 20:57] pffijt commented on #126
It wouldn't be necessary to create a separate module/client for a TimescaleDB container since TimescaleDB is just an extension on top of PostgreSQL [(see here)](https://docs.timescale.com/getting-started/latest/#what-is-timescaledb).  Users of the TimescaleDB container can make use of PostgresDB container client.

Example:
[code]

[2022-11-21 21:19] pffijt commented on #237
I created a PR to remove the support of Python 3.6.

[2022-11-21 23:10] #237 closed

[2022-11-22 19:36] pffijt commented on #126
I think we can close this issue :)

[2022-11-22 20:15] pffijt commented on #253
I am not having this issue.
It seems that it brings up this exception when it tries to close the container.
Maybe it has to do that the Postgresql container gets removed with force??

[2022-11-22 20:45] #126 closed

[2022-11-22 21:02] pffijt commented on #256
I am going to pick this up, i will also try to add pages with detailed container information with pydocs

[2022-11-24 15:31] endorama commented on #204
Hi @tillahoffmann, I stumbled upon this issue and would be happy to contribute.

I don't think using multiple Python versions at the same time is supported by Poetry, at least not in a way that would help with multiple lock files.

I found this issue relevant for this discussion: https://github.com/python-poetry/poetry/issues/305 and this doc page: https://python-poetry.org/docs/managing-environme

[2022-11-27 20:59] pffijt commented on #256
#268

[2022-11-28 11:36] pffijt opened #269 "Improve contributing guidelines"
The current contributing guidelines describes 3 steps that are quite minimal. We should add additional steps, and maybe we should create a separate contributing.md for better github integration https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors.

**I think the following steps should be atleast added:**

- Class py